		<div class="mass-head tp-slider">
			<div class="tp-banner-container">
				<div class="tp-banner">
					<ul>            
                        <!-- THE FIRST SLIDE -->
                        <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="5000">
                            <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                            <img src="{$host}assets/images/slider/background/bg-1.jpg" alt="" data-bgposition="right center" data-kenburns="on" data-duration="10400" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-bgpositionend="right center">
							
							<!-- LAYER NR. 1 -->
							<div class="tp-caption large_bold_grey skewfromrightshort customout"
								data-x="left" data-hoffset="30"
								data-y="146"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="500"
								data-start="800"
								data-easing="Back.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								data-captionhidden="on"
								style="z-index: 4">DIKLAT KEMENDAGRI
							</div>
							
							<!-- LAYER NR. 3 -->
							<div class="tp-caption medium_thin_grey skewfromrightshort customout"
								data-x="left" data-hoffset="30"
								data-y="210"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="300"
								data-start="1000"
								data-easing="Back.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								data-captionhidden="on"
								style="z-index: 8">Lembaga Sertifikasi Pemerintahan
							</div>
														
							<!-- LAYER NR. 6 -->
							<div class="tp-caption small_thin_grey customin customout"
								data-x="left" data-hoffset="30"
								data-y="250"
								data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="500"
								data-start="1300"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								data-captionhidden="on"
								style="z-index: 8">Sistem Informasi Penilaian Kompetensi & Sertifikasi Kementerian Dalam Negeri
							</div>

							{if !($auth)}
							<!-- LAYER NR. 7 -->
							 <a class="tp-caption customin customout btn btn-primary" href="{$host}registrasi-diklat"
                                data-x="left" data-hoffset="30"
                                data-y="300"
                                data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="500"
								data-start="1400"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								data-captionhidden="on"
                                data-easing="easeOutExpo">
                                Registrasi Sekarang
                            </a> 
							{/if}
							
							<!-- LAYER NR. 8 -->
							<div class="tp-caption customin customout"
								data-x="right" data-hoffset="-30"
								data-y="80"
								data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="800"
								data-start="700"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 3"><img src="{$host}assets/images/slider/kementrian.png" alt="Image 1">
							</div>

                        </li>

                        <!-- THE Second SLIDE -->
                        <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="5000">
                            <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                            <img src="{$host}assets/images/slider/background/bg-2.jpg" alt="" data-bgposition="left center" data-kenburns="on" data-duration="10400" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-bgpositionend="right center">
							
							<!-- LAYER NR. 1 -->
							<div class="tp-caption large_bold_grey skewfromrightshort customout"
								data-x="left" data-hoffset="30"
								data-y="146"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="500"
								data-start="800"
								data-easing="Back.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								data-captionhidden="on"
								style="z-index: 4">ASESMEN MANDIRI
							</div>
							
							<!-- LAYER NR. 3 -->
							<div class="tp-caption medium_thin_grey skewfromrightshort customout"
								data-x="left" data-hoffset="30"
								data-y="210"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="300"
								data-start="1000"
								data-easing="Back.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								data-captionhidden="on"
								style="z-index: 8">Asesmen Online, Setiap Saat Dan Dimana Saja
							</div>
														
							<!-- LAYER NR. 6 -->
							<div class="tp-caption small_thin_grey customin customout"
								data-x="left" data-hoffset="30"
								data-y="250"
								data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="500"
								data-start="1300"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								data-captionhidden="on"
								style="z-index: 8">Sistem Informasi Penilaian Kompetensi & Sertifikasi Kementerian Dalam Negeri
							</div>

							
							<!-- LAYER NR. 8 -->
							<div class="tp-caption customin customout"
								data-x="right" data-hoffset="140"
								data-y="25"
								data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="800"
								data-start="700"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 3"><img src="{$host}assets/images/slider/cahyo_kumolo.png" alt="Image 1">
							</div>

                        </li>

                        <!-- THE THird SLIDE -->
                        <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="5000">
                            <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                            <img src="{$host}assets/images/slider/background/bg-1.jpg" alt="">
							
							<!-- LAYER NR. 1 -->
							<div class="tp-caption large_bold_grey skewfromrightshort customout"
								data-x="left" data-hoffset="30"
								data-y="146"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="500"
								data-start="800"
								data-easing="Back.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								data-captionhidden="on"
								style="z-index: 4">UJI TEST ONLINE
							</div>
							
							<!-- LAYER NR. 3 -->
							<div class="tp-caption medium_thin_grey skewfromrightshort customout"
								data-x="left" data-hoffset="30"
								data-y="210"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="300"
								data-start="1000"
								data-easing="Back.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								data-captionhidden="on"
								style="z-index: 8">Efisiensi, Hemat & Cepat
							</div>
														
							<!-- LAYER NR. 6 -->
							<div class="tp-caption small_thin_grey customin customout"
								data-x="left" data-hoffset="30"
								data-y="250"
								data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="500"
								data-start="1300"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								data-captionhidden="on"
								style="z-index: 8">Sistem Informasi Penilaian Kompetensi & Sertifikasi Kementerian Dalam Negeri
							</div>

							
							<!-- LAYER NR. 8 -->
							<div class="tp-caption customin customout"
								data-x="right" data-hoffset="-30"
								data-y="50"
								data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="800"
								data-start="700"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 3"><img src="{$host}assets/images/slider/logo-pp.png" alt="Image 1">
							</div>

                        </li>

                        <!-- THE Fourth SLIDE -->
                        <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="5000">
                            <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                            <img src="{$host}assets/images/slider/background/bg-2.jpg" alt="">
							
							<!-- LAYER NR. 1 -->
							<div class="tp-caption large_bold_grey skewfromrightshort customout"
								data-x="left" data-hoffset="30"
								data-y="146"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="500"
								data-start="800"
								data-easing="Back.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								data-captionhidden="on"
								style="z-index: 4">Sertifikat Online {* & Hasil Penilaian Digital *}
							</div>
							
							<!-- LAYER NR. 3 -->
							<div class="tp-caption medium_thin_grey skewfromrightshort customout"
								data-x="left" data-hoffset="30"
								data-y="210"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="300"
								data-start="1000"
								data-easing="Back.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								data-captionhidden="on"
								style="z-index: 8">Proses Yang Cepat, Aman & Mudah
							</div>
														
							<!-- LAYER NR. 6 -->
							<div class="tp-caption small_thin_grey customin customout"
								data-x="left" data-hoffset="30"
								data-y="250"
								data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="500"
								data-start="1300"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								data-captionhidden="on"
								style="z-index: 8">Sistem Informasi Penilaian Kompetensi & Sertifikasi Kementerian Dalam Negeri
							</div>

							
							<!-- LAYER NR. 8 -->
							<div class="tp-caption customin customout"
								data-x="right" data-hoffset="-60"
								data-y="80"
								data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="800"
								data-start="700"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 3"><img src="{$host}assets/images/slider/logo-damkar.png" alt="Image 1">
							</div>

                        </li>

					</ul>
					<div class="tp-bannertimer"></div>
				</div>
			</div>
		</div>
	
		<div class="block-s1 inverse notice no-margin-bottom">
			<div class="container">
				<div class="text-center">
					<h3>Sistem Informasi Penilaian Kompetensi & Sertifikasi Kementerian Dalam Negeri</h3>
				</div>
			</div>
		</div>

<div class="block-s2">
	<div class="container">
		<div class="row">
			
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<h3 style='margin-top:10px !important;'>Berita Terbaru</h3>						
				{if $berita}
					<ul class="list-unstyled">
						{foreach from=$berita item=rowss}
							<li>
								<h5 style='margin-bottom:0px !important;'><a href="#">{$rowss.judul_berita}</a></h5>
								<p><small>{$rowss.tanggal_terbit}, Oleh {$rowss.diposting_oleh}</small></p>
							</li>
						{/foreach}
					</ul>
				{else}
					<center>:: Tidak Ada Data ::</center>
				{/if}
				
				<div class="action-buttons">
					<a href="{$host}berita" >Lihat Selanjutnya <i class="fa fa-angle-double-right"></i></a>
				</div>
			</div>
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<h3 style='margin-top:10px !important;'>Petunjuk Unggah Dokumen</h3>
				<table class="table table-bordered table-hover tc-table">
					<thead>
						<tr>
							<th class="col-small center">No.</th>
							<th class="col-medium center">Sertifikasi</th>
							<th class="col-small center">::</th>
						</tr>
					</thead>
					<tbody>
						{if $petunjuk_dokumen}
							{assign var=ind value=1}
							{foreach from=$petunjuk_dokumen item=rows}
								<tr>
									<td class="col-small center">{$ind}</td>
									<td>{$rows.nama_sertifikasi}</td>
									<td class="col-medium center">
										<a href='{$host}download-file-petunjuk/{$rows.file_petunjuk}' target='_blank'>Unduh File</a>
									</td>
								</tr>
								{assign var=ind value=$ind+1}
							{/foreach}
						{else}
							<tr>
								<td colspan='3' style='text-align:center;'>:: Tidak Ada Data :;</td>
							</tr>
						{/if}
					</tbody>
				</table>
				<div class="action-buttons">
					<a href="{$host}petunjuk-dokumen" >Lihat Selanjutnya <i class="fa fa-angle-double-right"></i></a>
				</div>				
			</div>
			
			
		</div>
	</div>
</div>

		
		
		
		