{if $auth}
		<div class="block-s1 inverse notice no-margin-bottom">
			<div class="container">
				<div class="text-center">
					{if $auth}
						{if $auth.idx_sertifikasi_id}
							{if $sts_psr.step_asesmen_mandiri eq '3'}
								<marquee><h3>Ujian Asesmen Mandiri Siap Dilaksanakan, Silahkan Melakukan Ujian Asesmen Mandiri</h3></marquee>
							{/if}
							
							{if $sts_psr.step_pembayaran eq '3'}
								<marquee><h3>Ujian Asesmen Mandiri Anda Sudah Terverifikasi & Anda Memenuhi Syarat Ujian Asesmen Mandiri, Silahkan Menuju Halaman <a href='{$host}konfirmasi-pembayaran'>Pembayaran</a> Sebelum Melakukan Transaksi Pembayaran Sertifikasi.</h3></marquee>
							{/if}						
							
							{if $sts_psr.step_penjadwalan eq '2'}
								<marquee><h3>Konfirmasi Pembayaran Anda Sudah Diverifikasi, Silahkan Melakukan Pendaftaran Jadwal Ujian Online.</h3></marquee>
							{/if}						
							
							{if $sts_psr.step_uji_test eq '4'}
								<marquee><h3>Jadwal Ujian Sertifikasi di TUK Anda : {$tglujian}, Informasi TUK Ujian Anda Ada Dihalaman Penjadwalan. Jangan Lupa & Jangan Telat Hadir.</h3></marquee>
							{/if}
							{if $sts_psr.step_uji_test eq '3'}
								<marquee><h3>Ujian Diklat Online Siap Dilaksanakan, Silahkan Datang Ke TUK Untuk Mengikuti Ujian Online</h3></marquee>
							{/if}
							
							{if $sts_psr.step_wawancara eq '2'}
								<marquee><h3>Prosedur Selanjutnya Adalah Ujian Wawancara. Harap Mempersiapkan Diri Anda Agar Bisa Melakukan Ujian Wawancara Dengan Baik. Semoga Sukses.</h3></marquee>
							{/if}
							
							{if $sts_psr.step_hasil eq '1'}
								<marquee><h3>Hasil Sertifikasi Diklat Anda Sudah Tersedia. Silahkan Buka Halaman Hasil Akhir Pada Portal Diklat ini.</h3></marquee>
							{/if}
							
							{if $sts_psr.step_hasil eq '2'}
								<marquee><h3>Hasil Sertifikasi Diklat Anda Sedang Dalam Tahap Verifikasi. Mohon Tunggu Pemberitahuan Selanjutnya.</h3></marquee>
							{/if}
						{else}
							<h3>Sistem Informasi Penilaian Kompetensi & Sertifikasi Kementerian Dalam Negeri</h3>
						{/if}
						
					{else}
						<h3>Sistem Informasi Penilaian Kompetensi & Sertifikasi Kementerian Dalam Negeri</h3>
					{/if}
				</div>
			</div>
		</div>

<div class="container">		
	<div class="block-s2">
		<div class='row'>
			<div class="col-lg-12">
				<div class="well light">
					<div class="tc-tabs no-margin"><!-- Nav tabs style 10-->
						<ul class="nav nav-tabs tab-small-button">
							<li class="active"><a data-toggle="tab" href="#tab26"><i class="fa fa-home"></i> Data Sertifikasi</a></li>
							<li class=""><a data-toggle="tab" href="#tab27"><i class="fa fa-user"></i> Data Profil</a></li>
						</ul>
						
						<!-- Tab panes -->
						<div class="tab-content">
							<div id="tab26" class="tab-pane active">
								{if $auth.idx_sertifikasi_id}
								<br/>
								<h5>Saat Ini Anda Terdaftar Sebagai Peserta Sertifikasi - <b>{$sts_psr.nama_aparatur} (Kode Sertifikasi: {$sts_psr.kode_sertifikasi})</b></h5>
								<br/>
								<h5>Tanggal Ujian Anda Adalah <b>{$tglujian} / (<font color='red'>{$countdownwaktu} Hari Lagi</font>) </b></h5>
								
								{if $sts_psr.step_registrasi eq '2'}
									<br/>
									Segera Selesaikan <font color='red'>Persyaratan Registrasi</font> Anda, Apabila Ada Revisi Persyaratan Dari Asesor.
								{/if}
								
								{if $sts_psr.step_asesmen_mandiri eq '3'}
									<br/>
									Segera Selesaikan <font color='red'>Asesmen Mandiri</font> Anda, Mohon Selalu Buka Halaman Asesmen Mandiri Untuk Memantau Apabila Ada Revisi Dari Asesor. 
								{/if}
								<hr/>
								<ul class="list-group no-margin-bottom"><!-- List Group Style 3-->
									<li class="list-group-item">
										Ujian Asesmen Mandiri
										{if $sts_psr.step_asesmen_mandiri eq '1'}
										<span class="badge badge-success"><i class="fa fa-check"></i></span>
										{else}
										<span class="badge badge-warning"><i class="fa fa-close"></i></span>
										{/if}
									</li>
									<li class="list-group-item">
										Pembayaran Sertifikasi
										{if $sts_psr.step_pembayaran eq '1'}
										<span class="badge badge-success"><i class="fa fa-check"></i></span>
										{else}
										<span class="badge badge-warning"><i class="fa fa-close"></i></span>
										{/if}
									</li>
									<li class="list-group-item">
										Penjadwalan Ujian
										{if $sts_psr.step_penjadwalan eq '1'}
										<span class="badge badge-success"><i class="fa fa-check"></i></span>
										{else}
										<span class="badge badge-warning"><i class="fa fa-close"></i></span>
										{/if}
									</li>									
									<li class="list-group-item">
										Ujian Diklat Online
										{if $sts_psr.step_uji_test eq '1'}
										<span class="badge badge-success"><i class="fa fa-check"></i></span>
										{else}
										<span class="badge badge-warning"><i class="fa fa-close"></i></span>
										{/if}
									</li>
									<li class="list-group-item">
										Ujian Wawancara
										{if $sts_psr.step_wawancara eq '1'}
										<span class="badge badge-success"><i class="fa fa-check"></i></span>
										{else}
										<span class="badge badge-warning"><i class="fa fa-close"></i></span>
										{/if}
									</li>
									<li class="list-group-item">
										Hasil Akhir Diklat
										{if $sts_psr.step_hasil eq '1'}
										<span class="badge badge-success"><i class="fa fa-check"></i></span>
										{else}
										<span class="badge badge-warning"><i class="fa fa-close"></i></span>
										{/if}
									</li>
								</ul>
								<hr>
								<h5><b>STATUS PERSYARATAN REGISTRASI ANDA</b></h5>
								<hr>
								{if $data_file_persyaratan}
								<table class="table table-bordered table-hover tc-table">
									<thead>
										<tr>
											<th align="center" width='5%'>No.</th>
											<th class="col-medium center">Persyaratan Sertifikasi</th>
											<th class="center" width='10%'>File</th>
											<th align="center" width='10%'>Status</th>
											<th align="center" width='15%'>Keputusan</th>
										</tr>
									</thead>
									<tbody>
									{assign var=ind value=1}
									{foreach from=$data_file_persyaratan item=rows}
										<tr>
											<td class="col-small center">{$ind}</td>
											<td class="col-medium">{$rows.nama_persyaratan}</td>
											<td class="col-small center">
												<a href='{$host}__repository/dokumen_peserta/{$auth.no_registrasi}/file_persyaratan/{$folder_sertifikasi}/{$auth.kdreg_diklat}/{$rows.nama_file}' target='_blank'>Preview File</a>
											</td>
											<td class="col-small center">
												<div id='flag_{$rows.id}'>
													{if $rows.flag eq "BV"}
														<font color='red'>Belum Verifikasi</font>
													{elseif $rows.flag eq "V"}
														<font color='green'>Sudah Verifikasi</font>
													{/if}
												</div>
											</td>
											<td class="col-small">
												<span id='sts_{$rows.id}'>
												{if $rows.status_penilaian eq "0"}
													<font color='red'>Tidak Terpenuhi</font>
												{elseif $rows.status_penilaian eq "1"}
													<font color='green'>Terpenuhi</font>
												{/if}
												</span>
											</td>
										</tr>
										<tr>
											<td>&nbsp;</td>
											<td><b>Memo Dari Asesor</b></td>
											<td colspan='3'>
												{$rows.memo}
											</td>
										</tr>
										{if $rows.status_penilaian eq '0' && $rows.flag eq 'V'}
										<tr>
											<td>&nbsp;</td>
											<td colspan='4'>
												<div id="aplod-dok_{$rows.id}">
													Upload Ulang Dokumen :
													<div class="col-sm-12">
														<form method='post' id='persy_{$rows.id}' url="{$host}submit-revisi-persyaratan" enctype="multipart/form-data">
															<input type='hidden' name="idtbl" value="{$rows.id}" />
															<input type='hidden' name="nama_file" value="{$rows.nama_file}" />
															<input type="file" id='file_{$rows.id}' name='filenya' style='float:left;padding:5px;width:500px;border:1px solid #E5E5E5;background:#fff'>
														</form>
														&nbsp;&nbsp;
														<button id='btn_{$rows.id}' class="btn btn-success" style='float:left;' onClick="event.preventDefault();kumpulPoster('sbt-rev-pers', '', '{$rows.id}', '{$ind}')">Submit</button>
													</div>
												</div>
											</td>
										</tr>
										{/if}
										{assign var=ind value=$ind+1}
									{/foreach}
									</tbody>
								</table>
								{/if}
								
								<hr>
								<h5><b>DATA PEKERJAAN ANDA SAAT PENGAJUAN SERTIFIKASI</b></h5>
								<hr>
								<div class="form-horizontal" >
									<div class="form-group">
										<label class="col-sm-2 control-label">Kementerian : </label>
										<div class="col-sm-4">	
											<span class="form-control" style="border:none !important;">
											{$datapeserta.nama_kementerian|default:'-'}
											</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Formasi : </label>
										<div class="col-sm-4">	
											<span class="form-control" style="border:none !important;">
											{$datapeserta.nama_formasi|default:'-'}
											</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Lokasi : </label>
										<div class="col-sm-4">	
											<span class="form-control" style="border:none !important;">
											{if $datapeserta.idx_lokasi_id|default:'-' eq 'P'}
												Pusat
											{else}
												Daerah
											{/if}
											</span>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-2 control-label">Lembaga/Instansi : </label>
										<div class="col-sm-6">															
											<span class="form-control" style="border:none !important;">
											{$datapeserta.nama_instansi|default:'-'}
											</span>
										</div>
									</div>									
									<div class="form-group">
										<label class="col-sm-2 control-label">Provinsi : </label>
										<div class="col-sm-4">	
											<span class="form-control" style="border:none !important;">
											{$datapeserta.nama_provinsi|default:'-'}
											</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Kabupaten : </label>
										<div class="col-sm-4">															
											<span class="form-control" style="border:none !important;">
											{$datapeserta.nama_kabupaten|default:'-'}
											</span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Pangkat/Golongan : </label>
										<div class="col-sm-4">															
											<span class="form-control" style="border:none !important;">
											{$datapeserta.nama_pangkat|default:'-'}
											</span>
										</div>
									</div>
									<div class="space-4"></div>	
									<div class="form-group">
										<label class="col-sm-2 control-label">Jabatan : </label>
										<div class="col-sm-6">
											<span class="form-control" style="border:none !important;">
											{$datapeserta.jabatan|default:'-'}
											</span>
										</div>
									</div>																	
									<div class="space-4"></div>	
									<div class="form-group">
										<label class="col-sm-2 control-label">Alamat : </label>
										<div class="col-sm-10">
											<span class="form-control" style="border:none !important;">
											{$datapeserta.alamat_instansi|default:'-'}
											</span>
										</div>
									</div>																						
								</div>
								{else}
									<br/>
									<center><h3>Saat Ini Anda Tidak Mengikuti Sertifikasi Apapun</h3></center>
									<div class="hr-12 hr-double hr-dotted"></div>
									<br/>
									<h4>Record Sertifikasi Anda</h4>
									<table class="table table-bordered table-hover tc-table">
										<thead>
											<tr>
												<th class="col-small center">No.</th>
												<th class="col-medium center">Sertifikasi</th>
												<th class="col-medium center">Status</th>
											</tr>
										</thead>
										<tbody>
											{if $data_record_diklat}
												{assign var=ind value=1}
												{foreach from=$data_record_diklat item=rowsssss}
													<tr>
														<td class="col-small center">{$ind}</td>
														<td>{$rowsssss.nama_aparatur}</td>
														<td>
															{if $rowsssss.penilaian eq 'L'}
																<font color='green'>LULUS</font>
															{elseif $rowsssss.penilaian eq 'TL'}
																<font color='red'>TIDAK LULUS</font>
															{/if}
														</td>
													</tr>
													{assign var=ind value=$ind+1}
												{/foreach}
											{/if}
										</tbody>
									</table>
									
									<a class="btn btn-primary" href="{$host}registrasi-diklat-baru">Daftar Diklat Baru</a>
								{/if}
							</div>
							<div id="tab27" class="tab-pane">
								
								<form class="form-horizontal" >
									<div class="form-group">
										<div class="col-sm-12">
											<div class="hr-12 hr-double hr-dotted"></div>
											<h4>Data Pribadi</h4>
											<div class="hr-12 hr-double hr-dotted"></div>
											<div class="form-group">
												<label class="col-sm-2 control-label">No. Registrasi : </label>
												<div class="col-sm-8">
													<span class="form-control" style="border:none !important;">
														{$datapeserta.no_registrasi|default:''}
													</span>
												</div>
											</div>
											<div class="space-4"></div>
											<div class="form-group">
												<label class="col-sm-2 control-label">NIP : </label>
												<div class="col-sm-8">
													<span class="form-control" style="border:none !important;">
														{$datapeserta.nip}
													</span>
												</div>
											</div>											
											<div class="form-group">
												<label class="col-sm-2 control-label">Nama Lengkap : </label>
												<div class="col-sm-8">
													<span class="form-control" style="border:none !important;">
														{$datapeserta.nama_lengkap|default:''}
													</span>
												</div>
											</div>
											<div class="space-4"></div>
											<div class="form-group">
												<label class="col-sm-2 control-label">Tempat / Tgl. Lahir : </label>
												<div class="col-sm-8">
													<span class="form-control" style="border:none !important;">
													{$datapeserta.tempat_lahir}, {$datapeserta.tanggal_lahir|date_format:"%d  %B  %Y"}
													</span>
												</div>			
											</div>																
											<div class="space-4"></div>
											<div class="form-group">
												<label class="col-sm-2 control-label">Jenis Kelamin : </label>
												<div class="col-sm-2">
													<span class="form-control" style="border:none !important;">
													{if $datapeserta.jenis_kelamin eq "L"}
														Laki-Laki
													{elseif $datapeserta.jenis_kelamin eq "P" }
														Perempuan
													{/if}
													</span>							
												</div>
											</div>		
											<div class="space-4"></div>
											<div class="form-group">
												<label class="col-sm-2 control-label">Kebangsaaan : </label>
												<div class="col-sm-3">				
													<span class="form-control" style="border:none !important;">
													{$datapeserta.kebangsaan}
													</span>
												</div>
											</div>
											<div class="space-4"></div>	
											<div class="form-group">
												<label class="col-sm-2 control-label">Alamat : </label>
												<div class="col-sm-10">
													<textarea id='ed_alamatRmh' class="form-control" rows="4" cols="50"  placeholder="" name="ed_alamatRmh">{$datapeserta.alamat_rumah}</textarea>
												</div>
											</div>						
											<div class="form-group">
												<label class="col-sm-2 control-label">Kode Pos : </label>
												<div class="col-sm-2">
													<input type="text" id='ed_tmpLahir' class="form-control" placeholder="" name="ed_tmpLahir" value="{$datapeserta.kode_pos|default:""}">
												</div>
											</div>					
											<div class="form-group">
												<label class="col-sm-2 control-label">Kontak : </label>
												<div class="col-sm-4">
													<input type="text" id='ed_tlpRmh' class="form-control" placeholder="Telepon Rumah" name="ed_tlpRmh" value="{$datapeserta.no_telepon|default:''}">
												</div>
												<div class="col-sm-4">
													<input type="text" id='ed_hempon' class="form-control" placeholder="No HP : (08xx xxxx xxxx)" name="ed_hempon" value="{$datapeserta.no_handphone|default:''}">
												</div>
											</div>					
											<div class="form-group">
												<label class="col-sm-2 control-label">Email : </label>
												<div class="col-sm-4">
													<input type="email" id='ed_mailer' class="form-control" placeholder="" name="ed_mailer" value='{$datapeserta.email}'>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label">Pass Photo : </label>
												<div class="col-sm-4">
													<span class="form-control" style="border:none !important; height:125px !important;">
														<img src='__repository/dokumen_peserta/{$datapeserta.no_registrasi}/file_data_diri/{$datapeserta.foto_profil}' width='100px' height='125px' style='display:block;' >
													</span>
												</div>
											</div>
											<div class="hr-12 hr-double hr-dotted"></div>
											<h4>Data Pendidikan</h4>
											<div class="hr-12 hr-double hr-dotted"></div>
											<div class="space-4"></div>
											<div class="form-group">
												<label class="col-sm-2 control-label">Pendidikan Terakhir : </label>
												<div class="col-sm-3">															
													<select id='ed_pend' class="form-control" name="ed_pend">
														{$idx_pendidikan_id}
													</select>
													
													{*
													<span class="form-control" style="border:none !important;">
														{ $datapeserta.nama_pendidikan }
													</span>
													*}
												</div>
											</div>
											<div class="space-4"></div>
											<div class="form-group">
												<label class="col-sm-2 control-label">Program Studi: </label>
												<div class="col-sm-6">															
													<select id='ed_prodi' class="form-control" name="ed_prodi">
														{$idx_programstudi_id}
													</select>
													
													{*
													<span class="form-control" style="border:none !important;">
													{$datapeserta.nama_programstudi}
													</span>
													*}
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label">Tahun Lulus : </label>
												<div class="col-sm-2" >															
													<select id='ed_thLulus' class="form-control" name="ed_thLulus">
														{$tahun_lulus}
													</select>
													
													{*
													<span class="form-control" style="border:none !important;">
													{$datapeserta.tahun_lulus}
													</span>
													*}
												</div>
											</div>
											
											{*
											<div class="form-group">
												<label class="col-sm-2 control-label">File Ijazah : </label>
												<div class="col-sm-6">
													<span class="form-control" style="border:none !important;">
													{$datapeserta.file_ijazah}
													</span>
												</div>
											</div>			
											*}
											
											<div class="hr-12 hr-double hr-dotted"></div>
											<br/>
											
										</div>
									</div>
								</form>
								
								
								
							</div>
						</div>
						
					</div><!-- Nav tabs style 10-->
				</div>
			</div>
		</div>
	</div>
</div>
{/if}
