<div class="mass-head inner">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
				<h1>Frequently Asked Questions</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="block-s2">
		<div class="row">
			<div class="col-lg-12">		
				
				<div class="panel-group tc-accordion no-border" id="accordion2"><!-- Accordion style 2-->
					<div class="panel panel-default">
						<div class="panel-heading ">
							<a data-toggle="collapse" data-parent="#accordion2" href="#satu">
								<h5 class="panel-title">
									Bagaimana Cara Memakai Sistem Ini ? <span class="pull-right"><i class="fa fa-angle-right bigger-110"></i></span>
								</h5>
							</a>
						</div>
						<div id="satu" class="panel-collapse collapse">
							<div class="panel-body">
								<p>
									TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST 
									TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST 
									TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST 
									TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST 
									TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST 
									TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST 
								</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading ">
							<a data-toggle="collapse" data-parent="#accordion2" href="#dua">
								<h5 class="panel-title">
									Siapa Yang Memakai Sistem Ini ? <span class="pull-right"><i class="fa fa-angle-right bigger-110"></i></span>
								</h5>
							</a>
						</div>
						<div id="dua" class="panel-collapse collapse">
							<div class="panel-body">
								<p>
									TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST 
									TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST 
									TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST 
									TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST 
									TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST 
									TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST 
								</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading ">
							<a data-toggle="collapse" data-parent="#accordion2" href="#tiga">
								<h5 class="panel-title">
									Apa Yang Dihasilkan Sistem Ini ? <span class="pull-right"><i class="fa fa-angle-right bigger-110"></i></span>
								</h5>
							</a>
						</div>
						<div id="tiga" class="panel-collapse collapse">
							<div class="panel-body">
								<p>
									TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST 
									TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST 
									TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST 
									TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST 
									TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST 
									TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST 
								</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading ">
							<a data-toggle="collapse" data-parent="#accordion2" href="#empat">
								<h5 class="panel-title">
									Dimana Letak Fungsi Sistem Ini ? <span class="pull-right"><i class="fa fa-angle-right bigger-110"></i></span>
								</h5>
							</a>
						</div>
						<div id="empat" class="panel-collapse collapse">
							<div class="panel-body">
								<p>
									TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST 
									TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST 
									TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST 
									TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST 
									TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST 
									TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST TEST 
								</p>
							</div>
						</div>
					</div>
					
				</div>
					
			
			</div>
		</div>
	</div>
</div>
