<div class="mass-head inner">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
				<h1>Frequently Asked Questions</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="block-s2">
		<div class="row">
			<div class="col-lg-12">		
				
				{if $data|default:''}
					<div class="panel-group tc-accordion no-border" id="accordion2"><!-- Accordion style 2-->
						{assign var=ind value=1}
						{foreach from=$data item=rows}
						
							<div class="panel panel-default">
								<div class="panel-heading ">
									<a data-toggle="collapse" data-parent="#accordion2" href="#{$ind}">
										<h5 class="panel-title">
											{$rows.pertanyaan} <span class="pull-right"><i class="fa fa-angle-right bigger-110"></i></span>
										</h5>
									</a>
								</div>
								<div id="{$ind}" class="panel-collapse collapse">
									<div class="panel-body">
										<p>
											{$rows.jawaban}
										</p>
									</div>
								</div>
							</div>
							
						{assign var=ind value=$ind+1}
						{/foreach}
					</div>
				{/if}
				
			</div>
		</div>
	</div>
</div>
