<div class="block-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-2 col-sm-12 col-xs-12">
						<h4>Tautan Terkait</h4>
						
						<ul class="list-unstyled">
							<li><a href="http://kemendagri.go.id"><i class="fa fa-anchor"></i> Portal Kemendagri</a></li>
							<li><a href="http://kemendagri.go.id"><i class="fa fa-anchor"></i> Portal Dirjen Bangda</a></li>
							<li><a href="http://kemendagri.go.id"><i class="fa fa-anchor"></i> Portal LPSE Kemendagri</a></li>
							<li><a href="http://kemendagri.go.id"><i class="fa fa-anchor"></i> Portal SIPD</a></li>
							<li><a href="http://kemendagri.go.id"><i class="fa fa-anchor"></i> Portal Produk Hukum Kemendagri</a></li>
						</ul>
						
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<h4>Kontak Kami</h4>
						<div class="well" style='background:#ECECEC;'>
							<p>
								<b>LEMBAGA SERTIFIKASI PROFESI PEMERINTAHAN DAERAH</b> <br/>
								<b>KEMENTERIAN DALAM NEGERI</b> <br/>
								Jl. Taman Makam Pahlawan No. 8, Kalibata, Jakarta Selatan, DKI Jakarta <br/>
								Email : lsp@kemendagri.go.id <br/>
								Telepon : (021) - 7996521
							</p>
						</div>
					</div>
					
				</div>
				<div class="row copyright">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<p>Copyright @ 2015 &nbsp;&nbsp;-&nbsp;&nbsp; <font color='#D15050'>LEMBAGA SERTIFIKASI PROFESI PEMERINTAHAN DAERAH KEMENTERIAN DALAM NEGERI</font></p>
					</div>
				</div>
			</div>
		</div>