<div class="mass-head inner">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
				<h1>Kontak Kami <small>Alamat Kantor Pusat & Tempat Uji Kompetensi</small></h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="block-s2">
	<!--CONTENT-->
		<!--Contact Us from-->
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12" >
				
				<div class="page-header title">
					<h3 style='margin-top:10px !important;'>TEMPAT UJI KOMPETENSI</h3>
				</div>
				
				{foreach from=$datatuk item=rows}
					<h5 style='font-weight:bold !important;'>{$rows.nama_tuk}</h5>					
					<p>{$rows.alamat_tuk}</p>
					<p><i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>:  - </p>
					<p><i class="fa fa-envelope-o"></i> <abbr title="Email">E</abbr>: - </p>
					<br/>
				{/foreach}
			</div>
			
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="padding-left:20px">
				<!--address-->
				<div class="page-header title">
					<h3 style='margin-top:10px !important;'>KANTOR PUSAT</h3>
				</div>
				<b>
				<h5 style='font-weight:bold !important;'>LEMBAGA SERTIFIKASI PROFESI PEMDA</h5>
				<h5 style='font-weight:bold !important;'>KEMENTERIAN DALAM NEGERI</h5>
				</b>
				
				<p>Jl. Taman Makam Pahlawan No. 8, Kalibata, Jakarta Selatan, DKI Jakarta</p>
				<p><i class="fa fa-phone"></i> <abbr title="Phone">P</abbr>:  (021) - 7996521 </p>
				<p><i class="fa fa-envelope-o"></i> <abbr title="Email">E</abbr>: <a href="mailto:lsp@kemendagri.go.id ">lsp@kemendagri.go.id </a></p>
				<p><i class="fa fa-clock-o"></i> <abbr title="Hours">H</abbr>: Senin - Jumat: 09.00 WIB - 17.00 WIB</p>				
			</div>
			
		</div>
	</div>
</div>