<div class="mass-head inner">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-5 col-sm-12 col-xs-12">
				<h1>Data Petunjuk Sertifikasi & Dokumen Terkait</h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="block-s2">
		<div class="row">
			<div class="col-lg-12">		
				
				<div class="well light">
					<table class="table table-bordered table-hover tc-table">
						<thead>
							<tr>
								<th width='5%' style='text-align:center'>No.</th>
								<th width='20%' style='text-align:center'>Tanggal</th>
								<th class="col-big center" style='text-align:center'>Jenis Dokumen</th>
								<th width='20%' style='text-align:center'>::</th>
							</tr>
						</thead>
						<tbody>
						{if $data}
							{assign var=ind value=1}
							{foreach from=$data item=rows}
								<tr>
									<td style='text-align:center'>{$ind}</td>
									<td style='text-align:center'>
										{$rows.tgl_terbit}
									</td>
									<td class="col-medium">
										{if $rows.jenis_dokumen eq 'DPS'}
											Petunjuk Sertifikasi
										{elseif $rows.jenis_dokumen eq 'SE'}
											Surat Edaran
										{/if} &nbsp;-&nbsp;
										{$rows.nama_sertifikasi}
									</td>
									<td style='text-align:center'>
										<a href='{$host}download-file-petunjuk/{$rows.file_petunjuk}' target='_blank'>Unduh File</a> 
									</td >
								</tr>
								{assign var=ind value=$ind+1}
							{/foreach}
						{else}
							<tr>
								<td colspan='3' style='text-align:center;'>:: Tidak Ada Data :;</td>
							</tr>
						{/if}
						</tbody>
					</table>
				
				</div>
				
			</div>
		</div>
	</div>
</div>