<div id='header'>
	<table width="100%" style="margin-bottom:10px; font-family:arial; font-size:11px;">
		<tr>
			<td align='center'>
				<strong>KEPUTUSAN</strong>
			</td>
		</tr>
		<tr>
			<td align='center'>
				<strong>{$pak_val.keputusan}</strong>
			</td>
		</tr>
		<tr>
			<td align='center'>
				<strong>NOMOR : .........<!-- {$pak_val.nomor_sk_keputusan} --></strong>
			</td>
		</tr>
		<tr>
			<td align='center'>
				<strong>TENTANG</strong>
			</td>
		</tr>
		<tr>
			<td align='center'>
				PENYESUAIAN / <i>INPASSING</i>
			</td>
		</tr>
		<tr>
			<td align='center'>
				<strong>DALAM JABATAN FUNGSIONAL POLISI PAMONG PRAJA</strong>
			</td>
		</tr>
	</table>
</div> 
<div id='content'>
	<table width="100%" style="margin-bottom:10px; font-family:arial; font-size:10px;">
		  <tr>
			<td width="50%" align='left' colspan="3" style="margin-bottom:10px; font-family:arial; font-size:12px;">
				<h5>{$pak_val.keputusan},</h5>
			</td>
		  </tr>
		  <tr>
			<td width="15%" align='left' valign="top">
				<strong>Menimbang :</strong>
			</td>
			<td width="1%" align='left' valign="top">
				<strong>a.</strong>
			</td>
			<td width="50%" align='left' valign="top">
				<strong>bahwa Saudara {$data.nama_lengkap} NIP {$data.nip} 
				dengan Keputusan {$pak_val.keputusan} Nomor ...............<!-- {$pak_val.nomor_sk_keputusan} -->, tanggal: {$date} terhitung mulai tanggal {$pak_val.tmt} 
				telah ditugaskan sebagai ....... <!-- melakukan kegiatan Polisi Pamong Praja pada {$pak_val.instansi}; --></strong>
			</td>
		  </tr>
		  <tr>
			<td width="15%" align='left' valign="top">
			</td>
			<td width="1%" align='left' valign="top">
				<strong>b.</strong>
			</td>
			<td width="50%" align='left' valign="top">
				<strong>bahwa dengan berlakunya Peraturan Menteri Pendayagunaan Aparatur Negara 
				dan Reformasi Birokrasi Republik Indonesia Nomor 4 Tahun 2014 dipandang perlu 
				menetapkan keputusan penyesuaian/inpassing dalam jabatan dan angka kredit Polisi Pamong Praja.</strong>
			</td>
		  </tr>
		  <tr>
			<td width="15%" align='left' valign="top">
				<strong>Mengingat	:</strong>
			</td>
			<td width="1%" align='left' valign="top">
				<strong>1.</strong>
			</td>
			<td width="50%" align='left' valign="top">
				<strong>Undang-Undang Nomor 5 Tahun 2014;</strong>
			</td>
		  </tr>
		  <tr>
			<td width="15%" align='left' valign="top">
			</td>
			<td width="1%" align='left' valign="top">
				<strong>2.</strong>
			</td>
			<td width="50%" align='left' valign="top">
				<strong>Peraturan Pemerintah Nomor 16 Tahun 1994 sebagaimana telah diubah dengan Peraturan Pemerintah Nomor 40 Tahun 2010;</strong>
			</td>
		  </tr>
		  <tr>
			<td width="15%" align='left' valign="top">
			</td>
			<td width="1%" align='left' valign="top">
				<strong>3.</strong>
			</td>
			<td width="50%" align='left' valign="top">
				<strong>Peraturan Pemerintah Nomor 9 Tahun 2003 sebagaimana telah diubah dengan Peraturan Pemerintah Nomor 63 Tahun 2009;</strong>
			</td>
		  </tr>
		  <tr>
			<td width="15%" align='left' valign="top">
			</td>
			<td width="1%" align='left' valign="top">
				<strong>4.</strong>
			</td>
			<td width="50%" align='left' valign="top">
				<strong>Peraturan Menteri Pendayagunaan Aparatur Negara dan Reformasi Birokrasi Republik Indonesia Nomor 4 Tahun 2014;</strong>
			</td>
		  </tr>
		  <tr>
			<td width="15%" align='left' valign="top">
			</td>
			<td width="1%" align='left' valign="top">
				<strong>5.</strong>
			</td>
			<td width="50%" align='left' valign="top">
				<strong>Peraturan Bersama Menteri Dalam Negeri dan Kepala Badan Kepegawaian Negara 
				Nomor 34 Tahun 2015 dan Nomor 9 Tahun 2015;</strong>
			</td>
		  </tr>
		  </table>
		  <table width="100%" style="margin-bottom:10px; font-family:arial; font-size:10px;">
		  <tr>
			<td width="50%" align='center' colspan="3" style="font-size:12px;">
				<h5>MEMUTUSKAN :</h5>
			</td>
		  </tr>
		  <tr>
			<td width="50%" align='left' colspan="3" style="font-size:12px;">
				<h5>Menetapkan	:</h5>
			</td>
		  </tr>
		  <tr>
			<td width="15%" align='left' valign="top">
				<strong>PERTAMA</strong>
			</td>
			<td width="1%" align='left' valign="top" colspan="2">
				<strong>: Terhitung mulai tanggal {$pak_val.tmt} Pegawai Negeri Sipil :</strong>
			</td>
		  </tr>
		  <tr>
			<td width="15%" align='left' valign="top">
			</td>
			<td width="15%" align='left' valign="top" >
				<strong>a. Nama</strong>
			</td>
			<td width="20%" align='left' valign="top" >
				<strong>: {$data.nama_lengkap}</strong>
			</td>
		  </tr>
		  <tr>
			<td width="15%" align='left' valign="top">
			</td>
			<td width="15%" align='left' valign="top" >
				<strong>b. NIP</strong>
			</td>
			<td width="20%" align='left' valign="top" >
				<strong>: {$data.nip}</strong>
			</td>
		  </tr>
		  </tr>
		  <tr>
			<td width="15%" align='left' valign="top">
			</td>
			<td width="15%" align='left' valign="top" >
				<strong>c.	Pangkat/Golongan ruang/TMT</strong>
			</td>
			<td width="20%" align='left' valign="top" >
				<strong>: <!-- {$jab} /  -->{$data.nama_pangkat} / .....<!-- {$pak_val.tmt} --></strong>
			</td>
		  </tr>
		  <tr>
			<td width="15%" align='left' valign="top">
			</td>
			<td width="15%" align='left' valign="top" >
				<strong>d.	Unit Kerja</strong>
			</td>
			<td width="20%" align='left' valign="top" >
				<strong>: {$pak_val.instansi}</strong>
			</td>
		  </tr>
		  <tr>
			<td width="15%" align='left' valign="top">
			</td>
			<td  align='left' valign="top" colspan="2">
				<br>
				<strong>Disesuaikan/diinpassing dalam jabatan Polisi Pamong Praja {$jab} dengan angka kredit sebesar {$pak_val.total_angka_diterima}
				({$number})  sesuai dengan lampiran IX dan X Peraturan Menteri Pendayagunaan Aparatur Negara dan Reformasi Birokrasi 
				Republik Indonesia Nomor 4 Tahun 2014;</strong>
			</td>
		  </tr>
		  <tr>
			<td width="15%" align='left' valign="top">
				<strong>KEDUA</strong>
			</td>
			<td width="1%" align='left' valign="top" colspan="2">
				<strong>: ...................................................................................................**)</strong>
			</td>
		  </tr>
		  <tr>
			<td width="15%" align='left' valign="top">
				<strong>KETIGA</strong>
			</td>
			<td width="1%" align='left' valign="top" colspan="2">
				<strong>: Apabila kemudian hari ternyata terdapat kekeliruan dalam keputusan ini, 
				akan diadakan perbaikan dan perhitungan kembali sebagaimana mestinya.
				Asli Keputusan ini disampaikan kepada Pegawai Negeri Sipil yang bersangkutan untuk diketahui 
				dan diindahkan sebagaimana mestinya.</strong>

			</td>
		  </tr>
	</table>	
	<br>
	<table width="100%" style="margin-bottom:10px; font-family:arial; font-size:10px;">
		  <tr>
			<td align='left' width="70%">
			</td>
			<td align='left' width="30%">
					<strong>Ditetapkan di {$pak_val.ditetapkan_di}</strong>
			</td>
		  </tr>
		  <tr><td></td></tr>
		  <tr>			
			<td align='left' width="70%">
			</td>
			<td align='left' width="30%">
					<strong>Pada tanggal <!-- {$pak_val.masa_penilaian} --></strong>
			</td>
		  </tr>
		  <tr><td></td></tr>
		  <tr><td></td></tr>
		  <tr><td></td></tr>
		  <tr><td></td></tr>
		  <tr><td></td></tr>
		  <tr><td></td></tr>
		  <tr><td></td></tr>
		  <tr><td></td></tr>
		  <tr>			
			<td align='left' width="70%">
			</td>
			<td align='left' width="30%">
					<strong><strong>{$pak_val.pejabat_berwenang}</strong></strong><br>
			</td>
		  </tr>
		  <tr><td></td></tr>
		  <tr><td></td></tr>
		  <tr><td></td></tr>
		  <tr><td></td></tr>
		  <tr><td></td></tr>
		  <tr><td></td></tr>
		  <tr><td></td></tr>
		  <tr><td></td></tr>
		  <tr>		
			<td align='left' width="70%">
			</td>
			<td align='left' width="30%"></td></tr>
		  <tr>			
			<td align='left' width="70%">
			</td>
			<td align='left' width="30%">
			<strong>_________________________________</strong>
			</td>
		  </tr>
		  <tr>			
			<td align='left' width="70%">
			</td>
			<td align='left' width="30%">
			<strong>NIP.</strong>
			</td>
		  </tr>
	</table>
	<br><br>
	<table width="100%" style="margin-bottom:10px; font-family:arial; font-size:11px;">
		<tr>
			<td align='left'  width="70%">
				<strong>Tembusan</strong>
			</td>
		</tr>
		<tr>
			<td align='left'  width="70%">
				1.	Direktur yang membidangi tugas Pol PP Kementerian Dalam Negeri;
			</td>
		</tr>
		<tr>
			<td align='left'>
				2.	Kepala Pusat Pembinaan Jabatan Fungsional Kementerian Dalam Negeri;
			</td>
		</tr>
		<tr>
			<td align='left'>
				3.	Kepala Badan Kepegawaian Negara/Kantor Regional BKN yang bersangkutan; *)
			</td>
		</tr>
		<tr>
			<td align='left'>
				4.	Kepala Badan Kepegawaian Daerah Provinsi/Kabupaten/Kota atau Bagian Kepegawaian instansi yang bersangkutan;*)
			</td>
		</tr>
		<tr>
			<td align='left'>
				5.	Pejabat yang berwenang menetapkan angka kredit;
			</td>
		</tr>
		<tr>
			<td align='left'>
				6.	Kepala Kantor Pelayanan Perbendaharaan Negara/Kepala Biro/Bagian Keuangan Daerah yang bersangkutan;*)
			</td>
		</tr>
		<tr>
			<td align='left'>
				7.	Pejabat lain yang dianggap perlu.
			</td>
		</tr>
	</table>
</div>