<html>
<head>
<title>PAK</title>
<style>
{literal}
body {font-family: sans-serif;
    font-size: 9pt;
}
p {    margin: 0pt;
}
td { vertical-align: top; }
.items td {
    border-left: 0.1mm solid #000000;
    border-right: 0.1mm solid #000000;
}
table thead td { background-color: #FCFCFC;
    text-align: center;
    border: 0.1mm solid #000000;
}
table tbody td { background-color: #FFFFFF;
    text-align: left;
    border: 0.1mm solid #000000;
}
.items td.blanktotal {
    background-color: #FFFFFF;
    border: 0.1mm solid #000000;
    border-top: 0.1mm solid #000000;
    border-right: 0.1mm solid #000000;
}
.items td.totals {
    text-align: right;
    border: 0.1mm solid #000000;
}
{/literal}
</style>
</head>
<body>


<div id='header'>
	<table width="100%" style="margin-bottom:10px;">
		<tr>
			<td align='center'>
				<h5>PENETAPAN ANGKA KREDIT</h5>
			</td>
		</tr>
		<tr>
			<td align='center'>
				<h5>NOMOR : {$pak_val.nomor_sk_keputusan}</h5>
			</td>
		</tr>
	</table>
</div> 
<div id='content'>
	<table width="100%" style="margin-bottom:10px;">
		  <tr>
			<td width="50%" align='left'>
					Instansi : {$pak_val.instansi}
			</td>
			<td width="50%" align='right'>
					Masa Penilaian : {$pak_val.masa_penilaian} s.d {$pak_val.masa_penilaian_sd}
			</td>
		  </tr>
	</table>
	<table class="items" width="100%" style="font-size: 8pt; border-collapse: collapse;" cellpadding="8">
	<thead>
		<tr>
			<td align="left" width="3%" >I</td>
			<td align='left' colspan="5" cellspacing="0">KETERANGAN PERORANGAN</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td align="left" width="1%" rowspan="6"></td>
			<td align="left" width="30%" >Nama </td>
			<td  align="left" width="50%" colspan="4">{$data.nama_lengkap}</td>
		</tr>
		<tr>
			<td class="left" width="25%" >NIP </td>
			<td  width="75%" colspan="4" >{$data.nip}</td>
		</tr>
		<tr>
			<td class="left" width="25%" >Pangkat / Golongan Ruang / TMT </td>
			<td  width="75%" colspan="4" >{$data.nama_pangkat} / {if $data.tgl_tmt_pangkat eq ''}........{else}{$data.tgl_tmt_pangkat}{/if}</td>
		</tr>
		<tr>
			<td class="left" width="24%" >Tempat & Tanggal Lahir </td>
			<td  width="75%" colspan="4" >{$data.tempat_lahir} / {$data.tgl_lahir}</td>
		</tr>
		<tr>
			<td class="left" width="24%" >Jenis Kelamin </td>
			<td  width="75%" colspan="4" >{$data.sex}</td>
		</tr>
		<tr>
			<td class="left" width="24%" >Pendidikan </td>
			<td  width="75%" colspan="4" >{$data.nama_pendidikan}</td>
		</tr>
	</tbody>
	</table>
	<br>
	<table class="items" width="100%" style="font-size: 8pt; border-collapse: collapse;" cellpadding="8">
	<thead>
		<tr>
			<td align="left" width="3%"> II </td>
			<td align='left' colspan="5">PENETAPAN ANGKA KREDIT</td>
			<td align='left' width="5%">LAMA</td>
			<td align='left' width="5%">BARU</td>
			<td align='left' width="8%">JUMLAH</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td width="1%" rowspan='12'></td>
			<td width="1%">1.</td>
			<td align='left' colspan="4" >UNSUR UTAMA</td>
			<td align='left' width="5%"></td>
			<td align='left' width="5%"></td>
			<td align='left' width="8%"></td>
		</tr>
		<tr>
			<td width="1%" rowspan="7"></td>
			<td align='left' width="85%"  colspan="4">a. Pendidikan</td>
			<td align='left' width="5%"></td>
			<td align='left' width="5%"></td>
			<td align='left' width="8%"></td>
		</tr>	
		<tr>
			<td align='left' width="85%"  colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Pendidikan formal</td>
			<td align='left' width="5%">0</td>
			<td align='left' width="5%">{$pak_val.angka_unsur_pendidikan}</td>
			<td align='left' width="8%">{$pak_val.angka_unsur_pendidikan}</td>
		</tr>	
		<tr>
			<td align='left' width="85%"  colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Pendidikan dan pelatihan</td>
			<td align='left' width="5%"></td>
			<td align='left' width="5%"></td>
			<td align='left' width="8%"></td>
		</tr>		
		<!-- <tr>
			<td></td>
			<td></td>
			<td></td>
			<td align='left' width="85%"  colspan="3">																											
				<table cellspacing="0" cellpadding="5"  border="1" style="margin-bottom:10px; font-family:arial; font-size:11px;border-collapse: collapse;">
					<tr>
						<td>
							1) Pendidikan formal 
						</td>
					</tr>
					<tr>
						<td>
							2) Pendidikan dan pelatihan
						</td>
					</tr>
				</table>
			</td>
			<td width="1%"></td>
			<td width="1%"></td>
			<td width="1%"></td>
		</tr> -->
		
		<tr>
			<td align='left' width="85%"  colspan="4">b. Penegakan Peraturan Daerah</td>
			<td align='left' width="5%">0</td>
			<td align='left' width="5%">{$pak_val.poin_a}</td>
			<td align='left' width="8%">{$pak_val.poin_a}</td>
		</tr>
		<tr>
			<td align='left' width="85%"  colspan="4">c. Penyelenggaraan Ketertiban Umum dan Ketenteraman Masyarakat</td>
			<td align='left' width="5%">0</td>
			<td align='left' width="5%">{$pak_val.poin_b}</td>
			<td align='left' width="8%">{$pak_val.poin_b}</td>
		</tr>
		<tr>
			<td align='left' width="85%"  colspan="4">d. Pengembangan Profesi</td>
			<td align='left' width="5%">0</td>
			<td align='left' width="5%">{$pak_val.poin_c}</td>
			<td align='left' width="8%">{$pak_val.poin_c}</td>
		</tr>
		<tr>
			<td align='left' width="85%"  colspan="4">Jumlah Unsur Utama</td>
			<td align='left' width="5%">0</td>
			<td align='left' width="5%">{$pak_val.angka_unsur_utama+$pak_val.angka_unsur_pendidikan}</td>
			<td align='left' width="8%">{$pak_val.angka_unsur_utama+$pak_val.angka_unsur_pendidikan}</td>
		</tr>
		<tr>
			<td width="1%">2.</td>
			<td align='left' colspan="4">UNSUR PENUNJANG</td>
			<td align='left' width="5%"></td>
			<td align='left' width="5%"></td>
			<td align='left' width="8%"></td>
		</tr>
		<tr>
			<td width="1%" rowspan='2'></td>
			<td align='left' width="80%"  colspan="4">Penunjang Tugas Polisi Pamong Praja  </td>
			<td align='left' width="5%">0</td>
			<td align='left' width="5%">{$pak_val.angka_unsur_penunjang}</td>
			<td align='left' width="8%">{$pak_val.angka_unsur_penunjang}</td>
		</tr>
		<tr>
			<td align='left' width="80%"  colspan="4">Jumlah Unsur Penunjang</td>
			<td align='left' width="5%">0</td>
			<td align='left' width="5%">{$pak_val.angka_unsur_penunjang}</td>
			<td align='left' width="8%">{$pak_val.angka_unsur_penunjang}</td>
		</tr>
		<tr>
			<td align='left' width="80%"  colspan="5">JUMLAH UNSUR UTAMA DAN UNSUR PENUNJANG</td>
			<td align='left' width="5%">0</td>
			<td align='left' width="5%">{$pak_val.total_angka_diterima}</td>
			<td align='left' width="8%">{$pak_val.total_angka_diterima}</td>
		</tr>
		<tr><td width="1%">III</td>
			<td align='left' width="80%"  colspan="8" cellspacing="0" cellpadding="10">
				DAPAT DIPERTIMBANGKAN UNTUK DISESUAIKAN/DIINPASSING DALAM JABATAN FUNGSIONAL POLISI PAMONG PRAJA {$jab} / PANGKAT {$data.nama_pangkat} / TMT {$pak_val.tmt}
			</td>
		</tr>
	</tbody>
	</table>	
	<br><br>
	<table width="100%" style="margin-bottom:10px; font-size:8pt;">
		  <tr>
			<td align='left' width="70%">
			</td>
			<td align='left' width="30%">
					Ditetapkan di {$pak_val.ditetapkan_di}
			</td>
		  </tr>
		  <tr><td></td></tr>
		  <tr>			
			<td align='left' width="70%">
			</td>
			<td align='left' width="30%">
					Pada tanggal {$pak_val.masa_penilaian}
			</td>
		  </tr>
		  <tr><td></td></tr>		  
		  <tr><td></td></tr>
		  <tr>			
			<td align='left'>
					<strong>ASLI</strong> disampaikan dengan hormat kepada:
			</td>
		  </tr>
		  <tr>			
			<td align='left'>
					Kepala BKN/Kantor Regional BKN yang bersangkutan
			</td>
		  </tr>
	</table>
	<br><br>
	<table width="100%" style="margin-bottom:8pt; font-size:11px;">
		<tr>
			<td align='left'  width="70%">
				Tembusan disampaikan kepada:
			</td>
			<td align='left'  width="30%">
				{$pak_val.pejabat_pak}
			</td>
		</tr>
		<tr>
			<td align='left'  width="70%">
				1. Polisi Pamong Praja  yang bersangkutan;
			</td>
			<td align='left'>______________________</td>
		</tr>
		<tr>
			<td align='left'>
				2.	Direktur yang membidangi tugas Pol PP Kementerian Dalam Negeri;
			</td>
			<td align='left'  width="30%">
				NIP.
			</td>
		</tr>
		<tr>
			<td align='left'>
				3.	Kepala Pusat Pembinaan Jabatan Fungsional Kementerian Dalam Negeri;
			</td>
			<td align='left'></td>
		</tr>
		<tr>
			<td align='left'>
				4.	Sekretaris Tim Penilai yang bersangkutan;
			</td>
		</tr>
		<tr>
			<td align='left'>
				5.	Kepala Badan Kepegawaian Daerah Provinsi/Kabupaten/Kota; dan
			</td>
		</tr>
		<tr>
			<td align='left'>
				6.	Pejabat lain yang dianggap perlu.
			</td>
		</tr>
	</table>
</div>