			
<nav class="navbar-side" role="navigation">							
	<div class="navbar-collapse sidebar-collapse collapse">
	
		
	
		<ul id="side" class="nav navbar-nav side-nav">
			<!-- BEGIN SIDE NAV MENU -->							
			<!-- Navigation category -->
			<li>
				<h4 style='color:#fff;'>Menu Utama</h4> 								
			</li>
			<!-- END Navigation category -->
			
			<li>
				<a href="{$host}admin-ctrlpnl">
					<i class="fa fa-dashboard"></i> Beranda
				</a>
			</li>
			{if $manajemenkonten eq '1'}
			<li class="panel">
				<a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#konten">
					<i class="fa fa-list"></i> Manajemen Konten <span class="fa arrow"></span>
				</a>
				<ul class="collapse nav " id="konten">	
					{if $berita eq '1'}
					<li>
						<a href="#" onClick="loadUrl('{$host}manajemen-berita');">
							<i class="fa fa-angle-double-right"></i> Berita
						</a>
					</li>
					{/if}
					{if $petunjukdokumen eq '1'}
					<li>
						<a href="#" onClick="loadUrl('{$host}manajemen-petunjukdokumen');">
							<i class="fa fa-angle-double-right"></i> Petunjuk Dokumen
						</a>
					</li>
					{/if}
					{if $faq eq '1'}
					<li>
						<a href="#" onClick="loadUrl('{$host}manajemen-faq');">
							<i class="fa fa-angle-double-right"></i> FAQ
						</a>
					</li>
					{/if}
				</ul>
			</li>
			{/if}
			{if $masterdata eq '1'}
			<li class="panel">
				<a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#components">
					<i class="fa fa-list"></i> Master Data <span class="fa arrow"></span>
				</a>
					<ul class="collapse nav " id="components">	
						{if $manajemenuser eq '1'}
						<li>
							<a href="#" onClick="loadUrl('{$host}manajemen-admin');">
								<i class="fa fa-angle-double-right"></i> Manajemen User
							</a>
						</li>
						{/if}
						{if $programstudi eq '1'}
						<li>
							<a href="#" onClick="loadUrl('{$host}manajemen-user');">
								<i class="fa fa-angle-double-right"></i> Manajemen Peserta
							</a>
						</li>
						{/if}
						{if $lembagainstansi eq '1'}
						<li>
							<a href="#" onClick="loadUrl('{$host}manajemen-instansi');">
								<i class="fa fa-angle-double-right"></i> Lembaga/Instansi
							</a>
						</li>
						{/if}
						{if $pangkatgolongan eq '1'}
						<li>
							<a href="#" onClick="loadUrl('{$host}manajemen-pangkat');">
								<i class="fa fa-angle-double-right"></i> Pangkat/Golongan
							</a>
						</li>
						{/if}
						{if $hirarkiaparatur eq '1'}
						<li>
							<a href="#" onClick="loadUrl('{$host}manajemen-aparatur');">
								<i class="fa fa-angle-double-right"></i> Hirarki Aparatur
							</a>
						</li>
						{/if}
						{if $persyaratansertifikasi eq '1'}
						<li>
							<a href="#" onClick="loadUrl('{$host}manajemen-sertifikasi');">
								<i class="fa fa-angle-double-right"></i> Persyaratan Sertifikasi
							</a>
						</li>
						{/if}
						{if $ujimandiri eq '1'}
						<li>
							<a href="#" onClick="loadUrl('{$host}manajemen-uji-mandiri');">
								<i class="fa fa-angle-double-right"></i> Uji Mandiri
							</a>
						</li>
						{/if}
						{if $manajementuk eq '1'}
						<li>
							<a href="#" onClick="loadUrl('{$host}manajemen-tuk');">
								<i class="fa fa-angle-double-right"></i> Manajemen TUK
							</a>
						</li>
						{/if}
						{if $jadwalujian eq '1'}
						<li>
							<a href="#" onClick="loadUrl('{$host}penjadwalan-peserta');">
								<i class="fa fa-angle-double-right"></i> Jadwal Ujian
							</a>
						</li>			
						{/if}
						{if $voucher eq '1'}
						<li>
							<a href="#" onClick="loadUrl('{$host}manajemen-voucher');">
								<i class="fa fa-angle-double-right"></i> Voucher
							</a>
						</li>		
						{/if}
						{if $banksoal eq '1'}
						<li>
							<a href="#" onClick="loadUrl('{$host}manajemen-soal');">
								<i class="fa fa-angle-double-right"></i> Bank Soal
							</a>
						</li>
						{/if}
						{if $banksoal eq '1'}
						<li>
							<a href="#" onClick="loadUrl('{$host}manajemen-pejabat');" hover="Pejabat yang Bertanggung Jawab akan Cetak Sertifikat">
								<i class="fa fa-angle-double-right"></i> Pejabat Berwenang
							</a>
						</li>
						{/if}
					</ul>
			</li>
			{/if}
			{if $sertifikasi eq '1'}
			<li class="panel">
				<a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#componentss">
					<i class="fa fa-list"></i> Sertifikasi<span class="fa arrow"></span>
				</a>
					<ul class="collapse nav " id="componentss">
						<li>
							<a href="#" onClick="loadUrl('{$host}administrasi-peserta');">
								<i class="fa fa-angle-double-right"></i> Administrasi Peserta
							</a>
						</li>
						<li>
							<a href="#" onClick="loadUrl('{$host}data-peserta-grid');">
								<i class="fa fa-angle-double-right"></i> Peserta Sertifikasi
							</a>
						</li>
						<li>
							<a href="#" onClick="loadUrl('{$host}hasil-peserta-grid');">
								<i class="fa fa-angle-double-right"></i> Hasil Sertifikasi
							</a>
						</li>
					</ul>
			</li>
			{/if}
			{if $pak eq '1'}
			<li class="panel">
				<a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#pak">
					<i class="fa fa-tag"></i> PAK <span class="fa arrow"></span>
				</a>
					<ul class="collapse nav " id="pak">
						{if $pakinpassing eq '1'}
						<li>
							<a href="#" onClick="loadUrl('{$host}pak-temp');">
								<i class="fa fa-angle-double-right"></i> PAK Inpassing
							</a>
						</li>
						{/if}
						{if $pakresult eq '1'}
						<li>
							<a href="#" onClick="loadUrl('{$host}pak-result');">
								<i class="fa fa-angle-double-right"></i> PAK Result
							</a>
						</li>
						{/if}
					</ul>
			</li>
			{/if}
			{if $laporan eq '1'}
			<li class="panel">
				<a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#charts">
					<i class="fa fa-tag"></i> Laporan <span class="fa arrow"></span>
				</a>
					<ul class="collapse nav" id="charts">
						<!-- {if $peserta eq '1'}
						<li>
							<a href="flot.html">
								<i class="fa fa-angle-double-right"></i> Peserta
							</a>
						</li>
						{/if} -->
						{if $absensi eq '1'}
						<li>
							<a onClick="loadUrl('{$host}progress-sertifikasi');" href="#">
								<i class="fa fa-angle-double-right"></i> Progress Sertifikasi
							</a>
						</li>
						{/if}
						{if $absensi eq '1'}
						<li>
							<a onClick="loadUrl('{$host}lap-absen');" href="#">
								<i class="fa fa-angle-double-right"></i> Absensi
							</a>
						</li>
						{/if}
						{if $absensi eq '1'}
						<li>
							<a onClick="loadUrl('{$host}hasil-akhir');" href="#">
								<i class="fa fa-angle-double-right"></i> Hasil Akhir
							</a>
						</li>
						{/if}
						{if $absensi eq '1'}
						<li>
							<a onClick="loadUrl('{$host}biodata');" href="#">
								<i class="fa fa-angle-double-right"></i> Biodata Peserta
							</a>
						</li>
						{/if}
					</ul>
			</li>
			{/if}
		</ul>
		
	</div><!-- /.navbar-collapse -->
</nav><!-- /.navbar-side -->