				<nav class="navbar-top" role="navigation">
					<!-- BEGIN BRAND HEADING -->
					<div class="navbar-header">
						<div class="navbar-brand">
							<a href="index.html">
								{* <img src="{$host}assets/images/logo.png" alt="logo" class="img-responsive"> *}
								LSP KEMENDAGRI
							</a>
						</div>
					</div>
					<!-- END BRAND HEADING -->
					<div class="nav-top">
						<!-- BEGIN RIGHT SIDE DROPDOWN BUTTONS -->
							<ul class="nav navbar-right">
								<li class="dropdown">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
										<i class="fa fa-bars"></i>
									</button>
								</li>
								<li class="dropdown user-box">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										<img class="img-circle" src="{$host}assets/images/user.jpg" alt=""> <span class="user-info">User Admin</span> <b class="caret"></b>
									</a>
										<ul class="dropdown-menu dropdown-user">
											<li>
												<a href="#">
													<i class="fa fa-gear"></i> Settings
												</a>
											</li>											
											<li>
												<a href="{$host}logoutadm">
													<i class="fa fa-power-off"></i> Logout
												</a>
											</li>
										</ul>
								</li>
							</ul>
						<!-- END RIGHT SIDE DROPDOWN BUTTONS -->
						
						
					</div><!-- /.nav-top -->
				</nav><!-- /.navbar-top -->