	
{if $asn neq 2}			
<div class="form-group">
	<label class="col-sm-2 control-label">Sub Jenis Sertifikasi : </label>
	<div class="col-sm-3">
		<select id='sb_ap_tk2' class="form-control" name="sb_ap_tk2">
		{foreach from=$data_tk2 item=row}
			<option value="{$row.id}">{$row.nama_aparatur}</option>
		{/foreach}
		</select>
	</div>
</div>						
<div class="form-group">
	<label class="col-sm-2 control-label">Jenjang Sertifikasi : </label>
	<div class="col-sm-2">
		<input name='sertifikasi' id='sertifikasi' type="text">
	</div>
</div>
{else}
<div class="form-group">
	<label class="col-sm-2 control-label">Urusan Pemerintah : </label>
	<div class="col-sm-3">
		<select id='sb_ap_tk2' class="form-control" name="sb_ap_tk2">
		{foreach from=$data_tk2 item=row}
			<option value="{$row.id}">{$row.nama_aparatur}</option>
		{/foreach}
		</select>
	</div>
</div>						
<div class="form-group">
	<label class="col-sm-2 control-label">Tipologi : </label>
	<div class="col-sm-3">
		<select id='sb_ap_tk3' class="form-control" name="sb_ap_tk3">
		{foreach from=$data_tk3 item=row}
			<option value="{$row.id}">{$row.nama_aparatur}</option>
		{/foreach}
		</select>
	</div>
</div>						
<div class="form-group">
	<label class="col-sm-2 control-label">Jenjang Sertifikasi : </label>
	<div class="col-sm-2">
		<input name='sertifikasi' id='sertifikasi' type="text">
	</div>
</div>		
{/if}