<!-- BEGIN PAGE HEADING ROW -->
<div class="row">
    <div class="col-lg-12">
        <div class="page-header title" style="">
            <!-- PAGE TITLE ROW -->
            <h1>Manajemen Hirarki Aparatur</h1>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- END PAGE HEADING ROW -->
<div id="konten_peserta">
<div class="row">
	<div class="col-lg-12">
		<div class="page-header no-padding-bottom" style="margin-top:-20px !important;margin-bottom:10px !important;">
			<h4>Data Hirarki Aparatur</h4>
		</div>		
		<div class="well white" style="margin-bottom:0px !important;">
			<a class="btn btn-success" href="#" onClick="modalOpt('sert');"><i class="fa fa-plus icon-only"></i></a>
			<!-- <a class="btn btn-success" href="#" id="id-btn-dialog2"><i class="fa fa-plus icon-only"></i></a> -->
			<div id="dialog-message" class="hide">
			<p>
				Anda diharuskan memilih level sertifikasi untuk ditambahkan.
			</p>
					<!-- <a class="btn btn-info" href="#" onClick="loadUrl('{$host}form-sertifikat');">Level 2</a>
					<a class="btn btn-info" href="#" onClick="modalOpt();">Level 3</a> -->
			</div>
		</div>
		<div class="portlet"><!-- /Portlet -->
			<div id="basic" class="panel-collapse collapse in">
				<div class="portlet-body">
					<table class="table table-bordered table-hover tc-table">
						<thead>
							<tr>
								<th>Aparatur</th>
								<th class="hidden-xs col-medium center">Sertifikasi Aparatur</th>
							</tr>
						</thead>
						<tbody>
							{if $data}
								{foreach from=$data item=rows}
									<tr>
										<td class="col-small"><strong>{$rows.nama_aparatur}</strong></td>
										{if $data_tk1}
											<td class="col-small">
												<table class="table table-hover">
													{foreach from=$data_tk1 item=rowstk1}
													<tr>
														{if $rowstk1.id_asn eq $rows.id}
															<td><strong>{$rowstk1.nama_aparatur}</strong></td>
															{if is_array($data_tk2)}
															<td>
																<table class="table table-bordered table-hover tc-table">
																	<tbody>
																		{foreach from=$data_tk2 item=rowstk2}	
																			{if $rowstk2.id_asn eq $rows.id_asn and $rowstk2.id_asn_child_tk1 eq $rowstk1.id}
																				<tr>											
																					<td class="hidden-xs">{if $rowstk2.nama_aparatur eq ''}None{else}{$rowstk2.nama_aparatur}{/if}</td>
																						{if $data_tk3}
																						<td>
																							<table class="table table-bordered table-hover tc-table">
																								{foreach from=$data_tk3 item=rowstk3}
																								{if $rowstk3.id_asn eq $rows.id_asn and $rowstk3.id_asn_child_tk1 eq $rowstk1.id and $rowstk3.id_asn_child_tk2 eq $rowstk2.id }
																								<tr>
																									<td>
																									{if $rowstk3.nama_aparatur eq ''}None{else}{$rowstk3.nama_aparatur}{/if}
																									</td>																										
																									<td>
																										<table class="table table-bordered table-hover tc-table">
																											{foreach  from=$sertifikat item=rowser}
																												<tr>
																													{if $rowser.idx_asn_id eq $rowstk3.id}
																													<td>{$rowser.nama_persyaratan}</td>
																													{/if}
																												</tr>
																											{/foreach}
																										</table>
																									</td>
																								</tr>
																								{/if}
																								{/foreach}
																							</table>
																						</td>
																						{/if}
																					{if $sertifikat}
																					<td>
																						<table class="table table-bordered table-hover tc-table">
																							{foreach  from=$sertifikat item=rowser}
																								<tr>
																									{if $rowser.idx_asn_id eq $rowstk2.id}
																									<td>{$rowser.nama_persyaratan}</td>
																									{/if}
																								</tr>
																							{/foreach}
																						</table>
																					</td>
																					{/if}
																				</tr>
																			{/if}
																		{/foreach}
																		{foreach  from=$sertifikat item=rowser}
																			<tr>
																				{if $rowser.idx_asn_id eq $rowstk2.id}
																				<td>{$rowser.nama_persyaratan}</td>
																				{/if}
																			</tr>
																		{/foreach}
																	</tbody>
																</table>
															</td>
															{/if}
														{/if}
													</tr>
													{/foreach}
												</table>
											</td>
										{/if}
									</tr>									
								{/foreach}
							{/if}
						</tbody>
					</table>												
				</div>
			</div>
		</div>
	</div>
</div>
</div>

