<style>
.right-tab {
    position: fixed;
	z-index:99;
    top: 30%;
    width: 100px;
	padding:5px;
    background-color: #F2F2F2;
}
</style>

<div class="mass-head inner">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
				<h1>Test Simulasi</h1>
			</div>
		</div>
	</div>
</div>

<div id="kont_sim_sudah" style='display:inline;'>
	<div class="container">
		<div class="block-s2">
			<div class="row">
				<div class="col-lg-12">
					<div class="well light">
						<center>
							<h2>
								ANDA SUDAH IKUT TEST SIMULASI
								<br/>
								<br/>
								TEKAN TOMBOL "Mulai Ujian" DIBAWAH INI 
								<br />
								<br />
								UNTUK MEMULAI UJIAN KEMBALI
							</h2>
						</center>
						<br/>
						<div class="form-actions ">
							<button id='btnnya' class="btn btn-primary" onClick="event.preventDefault();kumpulPoster('div-stuj-sim_sudah', 'kont_sim_sudah', '{$datawaktu.jam|default:0}', '{$datawaktu.menit|default:59}', '{$datawaktu.detik|default:59}' );">Mulai Ujian</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>


<div id='kont_sim_heading_sudah' style='display:none;'>
<div class="right-tab">
	<center>
	Waktu Anda <br />
	<span id="timernya_sudah_sim"><span>
	</center>
</div>
<div class="container ">
	<div class="block-s1">
		<div class="row">
			<div class="col-lg-12">						
				<div class="portlet">
					<div class="well light">
						
					<form class="form-horizontal" role="form" id="ujsim" name="ujsim" action="{$host}submit-test-simulasi" method="post" enctype="multipart/form-data">
						<input type='hidden' name='v_di' value='{$auth.id}'>
						<input type='hidden' id='so_ar' name='so_ar'>
						
						<table class="table table-bordered table-hover tc-table">
							<thead>
								<tr>
									<th>No.</th>
									<th>Soal Pertanyaan</th>
								</tr>
							</thead>
							<tbody>
								{if $soal_sudah}
									{assign var=no value=1}
									{foreach from=$soal_sudah item=rows}
										<tr>
											<td>{$no}</td>
											<td>{$rows.soal}</td>
										</tr>
										<tr>
											<td>&nbsp;</td>
											<td>
												<textarea class="form-control" id='jwb_ny_{$no}' rows="4" cols="60"  placeholder="" >{$rows.jawaban}</textarea>
												<br/>
												<button id='s' class="btn btn-primary" onClick="event.preventDefault();kumpulPoster('sbm-sim', '', '{$no}', '{$rows.id}' )">Simpan</button>
											</td>
										</tr>
										{assign var=no value=$no+1}
									{/foreach}
								{/if}
								{if $soal_belum}
									{assign var=nos value=$no}
									{foreach from=$soal_belum item=rowss}
										<tr>
											<td>{$nos}</td>
											<td>{$rowss.soal}</td>
										</tr>
										<tr>
											<td>&nbsp;</td>
											<td>
												<textarea class="form-control" id='jwb_ny_{$nos}' rows="4" cols="60"  placeholder="" ></textarea>
												<br/>
												<button id='s' class="btn btn-primary" onClick="event.preventDefault();kumpulPoster('sbm-sim', '', '{$nos}', '{$rowss.id}' )">Simpan</button>
											</td>
										</tr>
										{assign var=nos value=$nos+1}
									{/foreach}
								{/if}
							</tbody>
						</table>
						
					</form>
					<br />
					<br />
					<div id='sbm' class="form-actions">
						<button id='sbmn' class="btn btn-success" onClick="event.preventDefault();sbst_sim('{$no}');">Selesai Ujian</button>
					</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	tinyMCE.init({
		// General options
		mode : "textareas",
		theme : "advanced",
		width: "100%",
		height: "300",
		plugins : "pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist",

		// Theme options
		theme_advanced_buttons1 : "bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
		theme_advanced_buttons2 : "bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,image,forecolor,backcolor",
		theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup",
		theme_advanced_toolbar_location : "top",
		theme_advanced_toolbar_align : "left",
		theme_advanced_statusbar_location : "bottom",
		theme_advanced_resizing : true,
		
		//Mad File Manager
		relative_urls : false,
		//file_browser_callback : MadFileBrowser
	});
	
	setInterval(function(){ 
		kumpulPoster('sbt-wkt-sim');
	}, 30000);

</script>
