<div class="container">
	<div class="block-s2">
		{if $type eq "registrasi-berhasil"}
		<div class="row">
			<div class="col-lg-12">
				<h4>Registrasi Berhasil</h4>
				<div class="well light">
					<center>
						Anda berhasil melakukan Registrasi di dalam sistem kami, <br/>
						silahkan cek email anda untuk mendapatkan informasi akun anda. <br/>
						Terima Kasih
					</center>
				</div>
			</div>
		</div>
		{/if}
		{if $type eq "registrasi-gagal"}
		<div class="row">
			<div class="col-lg-12">
				<h4>Registrasi Gagal</h4>
				<div class="well light">
					<center>
						Registrasi Gagal, <br/>
						Silahkan kontak ke nomor telepon kami yang tertera dalam portal ini. <br/>
						Terima Kasih
					</center>
				</div>
			</div>
		</div>
		{/if}
		{if $type eq "asesmen-berhasil"}
		<div class="row">
			<div class="col-lg-12">
				<h4>Asesmen Berhasil</h4>
				<div class="well light">
					<center>
						Anda Sudah Melakukan Uji Asesmen Mandiri, <br/>
						Admin Sistem Akan Segera Memverifikasi Berkas Anda. <br/>
						Silahkan Tunggu Notifikasi Untuk Melangkah Ke Langkah Selanjutnya. <br/>
						Terima Kasih.
					</center>
				</div>
			</div>
		</div>
		{/if}
		{if $type eq "asesmen-gagal"}
		<div class="row">
			<div class="col-lg-12">
				<h4>Asesmen Gagal</h4>
				<div class="well light">
					<center>
						Maaf Uji Asesmen Mandiri Gagal Dikarenakan Gangguan Sistem. <br/>
						Silahkan Coba Beberapa Saat Lagi. <br/>
						Terima Kasih.
					</center>
				</div>
			</div>
		</div>
		{/if}
		{if $type eq "pembayaran-berhasil"}
		<div class="row">
			<div class="col-lg-12">
				<h4>Konfirmasi Berhasil</h4>
				<div class="well light">
					<center>
						Anda Sudah Melakukan Konfirmasi Pembayaran Biaya Sertifikasi, <br/>
						Admin Sistem Akan Segera Memverifikasi Berkas Anda. <br/>
						Silahkan Tunggu Notifikasi Untuk Melangkah Ke Langkah Selanjutnya. <br/>
						Terima Kasih.
					</center>
				</div>
			</div>
		</div>
		{/if}
		{if $type eq "pembayaran-gagal"}
		<div class="row">
			<div class="col-lg-12">
				<h4>Konfirmasi Gagal</h4>
				<div class="well light">
					<center>
						Maaf Konfirmasi Pembayaran Gagal Dikarenakan Gangguan Sistem. <br/>
						Silahkan Coba Beberapa Saat Lagi. <br/>
						Terima Kasih.
					</center>
				</div>
			</div>
		</div>
		{/if}
		{if $type eq "ujitest-berhasil"}
		<div class="row">
			<div class="col-lg-12">
				<h4>Ujian Test Online Berhasil</h4>
				<div class="well light">
					<center>
						Anda Sudah Melakukan Ujian Test Online, <br/>
						Admin Sistem Akan Segera Memverifikasi Berkas Anda. <br/>
						Silahkan Tunggu Notifikasi Untuk Melangkah Ke Langkah Selanjutnya. <br/>
						Terima Kasih.
					</center>
				</div>
			</div>
		</div>
		{/if}
		{if $type eq "ujitest-gagal"}
		<div class="row">
			<div class="col-lg-12">
				<h4>Konfirmasi Gagal</h4>
				<div class="well light">
					<center>
						Maaf Ujian Test Online Gagal Dikarenakan Gangguan Sistem. <br/>
						Silahkan Coba Beberapa Saat Lagi. <br/>
						Terima Kasih.
					</center>
				</div>
			</div>
		</div>
		{/if}
		
		
	</div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
