<!DOCTYPE html>
<html>
<head>
    <title>PERMOHONAN SERTIFIKASI</title>
    <style>
		table { width:100%; }
	.tablenya{
		border-collapse: collapse; 
		font-family:arial; 
		font-size:12px;
		margin-bottom:10px;
		border:0.1mm solid #000;
	}
	
	.table_child{
		border-collapse: collapse; 
		font-family:arial; 
		font-size:12px;
		border:0.1mm solid #000;
		padding:3px;
	}
	
	.table_child td{
		border-collapse: collapse; 
		font-family:arial; 
		font-size:12px;
		border:0.1mm solid #000;
		padding:3px;
	}

	</style>
</head>
<body>
<div id='content' style='font-family:arial;'>
	<table width="100%" cellspacing='0' cellpadding='0' style='font-family:arial;margin-bottom:0px;'>>
		<tr>
			<td>
				<div >
					<h4>
						FORMULIR PERMOHONAN SERTIFIKASI KOMPETENSI {$datapeserta.nama_aparatur|UPPER}
					</h4>
				</div>
				
			</td>
		</tr>
	</table>
	<div style='margin-bottom:-10px;'>
		<h4>
			BAGIAN 1 : RINCIAN DATA {$datapeserta.nama_aparatur|UPPER}
		</h4>
	</div>
	<table class="tablenya" cellspacing="0" cellpadding="5"  border='0'>
		<tr>
			<td colspan='3'>
				<h3>Data Pribadi</h3>
			</td>
		</tr>
		<tr>
			<td width='20%'>Nama </td>
			<td width='1%'>:</td>
			<td >{$datapeserta.nama_lengkap}</td>
		</tr>
		<tr>
			<td >NIP</td>
			<td >:</td>
			<td >{$datapeserta.nip}</td>
		</tr>
		<tr>
			<td >TTL</td>
			<td >:</td>
			<td >{$datapeserta.tempat_lahir}, {$datapeserta.tanggal_lahir|date_format:"%d  %B  %Y"}</td>		
		</tr>
		<tr>
			<td >Jenis Kelamin</td>
			<td >:</td>
			<td >
				{if $datapeserta.jenis_kelamin eq "L"}
					Laki-Laki
				{elseif $datapeserta.jenis_kelamin eq "P" }
					Perempuan
				{/if}
			</td>
		</tr>
		<tr>
			<td >Kebangsaaan</td>
			<td >:</td>
			<td >{$datapeserta.kebangsaan}</td>		
		</tr>
		<tr>
			<td >Alamat</td>
			<td >:</td>
			<td >{$datapeserta.alamat_rumah}</td>
		</tr>
		<tr>
			<td >Kode Pos</td>
			<td >:</td>
			<td >{$datapeserta.kode_pos|default:""}</td>		
		</tr>
		<tr>
			<td >No. Telepon</td>
			<td >:</td>
			<td >{$datapeserta.no_telepon|default:"-"}</td>
		</tr>
		<tr>
			<td >No. Handphone</td>
			<td >:</td>
			<td >{$datapeserta.no_handphone|default:""}</td>
		</tr>
		<tr>
			<td >Email</td>
			<td >:</td>
			<td >{$datapeserta.email|default:"-"}</td>
		</tr>
	</table>
	<table class="tablenya" cellspacing="0" cellpadding="5" width='100%'>
		<tr>
			<td colspan='3'>
				<h3>Data Pendidikan</h3>
			</td>
		</tr>
		<tr>
			<td width='20%'>Pendidikan Terakhir</td>
			<td width='1%'>:</td>
			<td >{$datapeserta.nama_pendidikan}</td>
		</tr>
		<tr>
			<td >Program Studi</td>
			<td >:</td>
			<td >{$datapeserta.nama_programstudi}</td>		
		</tr>
		<tr>
			<td >Tahun Lulus</td>
			<td >:</td>
			<td >{$datapeserta.tahun_lulus|default:"-"}</td>
		</tr>
	</table>
	
	<table class="tablenya" cellspacing="0" cellpadding="5" width='100%'>
		<tr>
			<td colspan='3'>
				<h3>Data Pekerjaan</h3>
			</td>
		</tr>
		<tr>
			<td width='20%'>Kementerian</td>
			<td width='1%'>:</td>
			<td >{$datapeserta.nama_kementerian}</td>
		</tr>
		<tr>
			<td >Formasi</td>
			<td >:</td>
			<td >{$datapeserta.nama_formasi}</td>		
		</tr>
		<tr>
			<td >Lokasi</td>
			<td >:</td>
			<td >
				{if $datapeserta.idx_lokasi_id|default:'-' eq 'P'}
					Pusat
				{else}
					Daerah
				{/if}
			</td>
		</tr>
		<tr>
			<td >Lembaga/Instansi</td>
			<td >:</td>
			<td >{$datapeserta.nama_instansi}</td>		
		</tr>
		<tr>
			<td >Provinsi</td>
			<td >:</td>
			<td >{$datapeserta.nama_provinsi}</td>
		</tr>
		<tr>
			<td >Kabupaten</td>
			<td >:</td>
			<td >{$datapeserta.nama_kabupaten}</td>		
		</tr>
		<tr>
			<td >Pangkat/Golongan</td>
			<td >:</td>
			<td >{$datapeserta.nama_pangkat}</td>
		</tr>
		<tr>
			<td >Jabatan</td>
			<td >:</td>
			<td >{$datapeserta.jabatan}</td>		
		</tr>
		<tr>
			<td >Alamat</td>
			<td >:</td>
			<td >{$datapeserta.alamat_instansi}</td>
		</tr>
	</table>
	<table class="tablenya" cellspacing="0" cellpadding="5" width='100%'>
		<tr>
			<td colspan='3'>
				<h3>Data Permohonan Sertifikasi</h3>
			</td>
		</tr>
		<tr>
			<td width='20%'>Tujuan Asesmen</td>
			<td width='1%'>:</td>
			<td >Sertifikasi {$datapeserta.nama_aparatur}</td>
		</tr>
		<tr>
			<td >Skema Sertifikasi</td>
			<td >:</td>
			<td >Okupasi {$datapeserta.nama_aparatur}</td>
		</tr>
		<tr>
			<td >Kontak Asesmen</td>
			<td >:</td>
			<td >TUK simulasi dengan karakteristik tempat kerja </td>
		</tr>
		<tr>
			<td >Acuan Pembanding</td>
			<td >:</td>
			<td >Standar Kompetensi {$datapeserta.nama_aparatur}</td>
		</tr>
		<tr>
			<td >TUK</td>
			<td >:</td>
			<td >{$datapeserta.nama_tuk}</td>
		</tr>
	</table>
	
	
	<div style='margin-bottom:-10px;'>
		<h4>
			BAGIAN 2 : DAFTAR UNIT KOMPETENSI
		</h4>
	</div>	
	<table class="tablenya" cellspacing="0" cellpadding="5" width='100%' style='margin-bottom:0px !important;'>
		<tr>
			<td colspan='7'>
				<h3>Hasil Asesmen Mandiri</h3>
			</td>
		</tr>
		<tr>
			<td width='10%'>Tanggal Ujian</td>
			<td width='1%'>:</td>
			<td width='20%'>{$data_asesmen_header.tanggal_ujian}</td>
			<td width='5%'>&nbsp;</td>
			<td width='10%'>Hasil Asesmen</td>
			<td width='1%'>:</td>
			<td width='20%'>
				{if $data_asesmen_header.status eq 'L'}
					<font color="green">MEMENUHI SYARAT</font>
				{else}
					<font color="red">TIDAK MEMENUHI SYARAT</font>
				{/if}
			</td>
		</tr>
		<tr>
			<td >Tanggal Verifikasi</td>
			<td >:</td>
			<td >{$data_asesmen_header.tanggal_verifikasi}</td>
			<td >&nbsp;</td>
			<td >Petugas Asesor</td>
			<td >:</td>
			<td >{$data_asesmen_header.nama_asesor}</td>
		</tr>		 
	</table>
	
	<table class="table_child" width='100%' style='margin-bottom:10px;'>
		<tr style='background:#F5F5F5;'>
			<td width='5%' align='center' style='font-weight:bold;'>No</td>
			<td width='20%' align='center' style='font-weight:bold;'>Kode Unit</td>
			<td width='35%' align='center' style='font-weight:bold;'>Judul Unit</td>
			<td width='20%' align='center' style='font-weight:bold;'>Penilaian Diri</td>
			<td width='15%' align='center' style='font-weight:bold;'>Kesesuaian</td>
		</tr>
		{assign var=ind value=1}
		{foreach from=$data_asesmen item=riws}
			<tr>
				<td align='center'>{$ind}</td>
				<td>{$riws.kode_unit}</td>
				<td>{$riws.judul_unit}</td>
				<td>
					{if $riws.penilaian eq 'K'}
						<font color='green'>Kompeten</font>
					{else}
						<font color='red'>Belum Kompeten</font>
					{/if}
				</td>
				<td>
					{if $riws.status_ver eq '0'}
						<font color='red'>Tidak Terpenuhi</font>
					{else}
						<font color='green'>Terpenuhi</font>
					{/if}
				</td>
			</tr>
			{assign var=ind value=$ind+1}
		{/foreach}
	</table>
	
	<div style='margin-bottom:-10px;'>
		<h4>
			BAGIAN 3 : KESESUAIAN PERSYARATAN SERTIFIKASI 
		</h4>
	</div>	
	<table class="tablenya" cellspacing="0" cellpadding="5" width='100%'>
		<tr>
			<td>
				<h3>Persyaratan Registrasi</h3>
			</td>
		</tr>
		<tr>
			<td>
				<table class="table_child" width='100%'>
					<tr style='background:#F5F5F5;'>
						<td width='5%' align='center' style='font-weight:bold;'>No</td>
						<td width='70%' align='center' style='font-weight:bold;'>Persyaratan Sertifikasi</td>
						<td width='15%' align='center' style='font-weight:bold;'>Kesesuaian</td>
					</tr>
					{assign var=ind value=1}
					{foreach from=$data_file_persyaratan item=rows}
						<tr>
							<td align='center'>{$ind}</td>
							<td>{$rows.nama_persyaratan}</td>
							<td>
							{if $rows.status_penilaian eq '0'}
								<font color='red'>Tidak Terpenuhi</font>
							{else}
								<font color='green'>Terpenuhi</font>
							{/if}
							</td>
						</tr>
						{assign var=ind value=$ind+1}
					{/foreach}
				</table>
			</td>
		</tr>
	</table>
	
	
	
	<br>
	<br>
	<br>
	<div style='margin-bottom:-10px;'>
		<h4>
			VALIDASI KESESUAIAN DOKUMEN
		</h4>
	</div>		
	<table class='table_child' width='100%' >
		<tr style='background:#F5F5F5;'>
			<td colspan='2' width='50%' align='center' style='font-weight:bold;'>
				ASESI
			</td>
			<td colspan='2' width='50%' align='center' style='font-weight:bold;'>
				ASESOR
			</td>
		</tr>
		<tr >
			<td width='20%' style='padding:10px;'>	
				Nama
			</td>
			<td width='20%' style='padding:10px;'>	
				{$datapeserta.nama_lengkap}
			</td>
			
			<td width='20%' style='padding:10px;'>	
				Nama
			</td>
			<td width='20%' style='padding:10px;'>	
				{$datapeserta.nama_asesor}
			</td>
		</tr>
		<tr>
			<td style='padding:10px;'>	
				No. Registrasi
			</td>
			<td style='padding:10px;'>	
				{$datapeserta.no_registrasi}
			</td>
			<td style='padding:10px;'>	
				Tanda Tangan
			</td>
			<td style='padding:10px;'>	
				&nbsp;
			</td>
		</tr>
		<tr>
			<td style='padding:10px;'>	
				Tanda Tangan
			</td>
			<td style='padding:10px;'>	
				&nbsp;
			</td>
			<td style='padding:10px;'>	
				Tanggal
			</td>
			<td style='padding:10px;'>	
				{$smarty.now|date_format:"%d  %B  %Y"}
			</td>
		</tr>
	</table>
</div>
</body>
</html>