<div id='header'>
	<table width="100%">
		<tr>
			<td align='right'>
				<img src='__repository/temp_qrcode/sertifikat/{$qrcode_isi}' style='margin-top:30px;margin-right:0px;'><br/>
			</td>
		</tr>
	</table>
</div> 

<div id='content'>
	<table width="100%" style="margin-bottom:10px; font-family:arial; font-size:10px;">
		  <tr>
			<td width="100%" align='center'>
			
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				
			</td>
		  </tr>
		  <tr>
			<td width="100%" align='center'>
				<br/>
				<font style='font-size:16px;'>
					LEMBAGA SERTIFIKASI PROFESI <br/>
					PEMERINTAH DAERAH
				</font>
				<br/>
				<br/>
				{if $lulus_tidak eq 'L'}
					<h2>
						SERTIFIKAT KOMPETENSI
					</h2>
				{elseif $lulus_tidak eq 'TL'}
					<br>
					<br>
				{/if}
				
			</td>
		  </tr>
		  <tr>
			<td width="100%" align='center'>
				<br/>
				<font style='font-size:16px;'>
					{$data_peserta.no_registrasi}
				</font>
				<br/>
			</td>
		  </tr>
	</table>
	<table width="100%" style="margin-bottom:10px; font-family:arial; ">
		<tr>
			<td width="100%" align='center' colspan='3' style='font-size:14px;'>
				<font >Dengan ini Menyatakan Bahwa :</font>
				<br/>
				<br/>
			</td>
		</tr>		
	</table>
	<table width="70%" style="margin-left:160px !important;margin-bottom:0px; font-family:arial;">	
		<tr>
			<td width="40%" align='left' style='font-size:14px;'>
				NAMA
			</td>
			<td width="20%" align='center' style='font-size:14px;'>
				:
			</td>
			<td width="50%" style='font-size:14px;'>
				{$data_peserta.nama_lengkap|upper}
			</td>
		</tr>
		<tr>
			<td width="40%" align='left' style='font-size:14px;'>
				NIP
			</td>
			<td width="20%" align='center' style='font-size:14px;'>
				:
			</td>
			<td width="50%" style='font-size:14px;'>
				{$data_peserta.nip|upper}
			</td>
		</tr>
		<tr>
			<td width="40%" align='left' style='font-size:14px;'>
				PANGKAT/GOLONGAN
			</td>
			<td width="20%" align='center' style='font-size:14px;'>
				:
			</td>
			<td width="50%" style='font-size:14px;'>
				{$data_peserta.nama_pangkat|upper}
			</td>
		</tr>
		<tr>
			<td width="40%" align='left' style='font-size:14px;'>
				JABATAN
			</td>
			<td width="20%" align='center' style='font-size:14px;'>
				:
			</td>
			<td width="50%" style='font-size:14px;'>
				{$data_peserta.jabatan|upper}
			</td>
		</tr>
		<tr>
			<td width="40%" align='left' style='font-size:14px;'>
				INSTANSI
			</td>
			<td width="20%" align='center' style='font-size:14px;'>
				:
			</td>
			<td width="50%" style='font-size:14px;'>
				{$data_peserta.nama_instansi|upper} 
				
				{if $data_peserta.idx_lokasi_id eq 'P'}
					PROVINSI {$data_peserta.nama_provinsi|upper}
				{elseif $data_peserta.idx_lokasi_id eq 'D'}
					{if $data_peserta.idx_flag_kab_kota eq '1' }
						KOTA {$data_peserta.nama_kabupaten|upper}
					{elseif $data_peserta.idx_flag_kab_kota eq '2' }
						KABUPATEN {$data_peserta.nama_kabupaten|upper}
					{/if}
				{/if}
				
			</td>
		</tr>
	</table>
	<table width="100%" style="margin-bottom:10px; font-family:arial; ">
		<tr>
			<td width="100%" align='center' colspan='3' style='font-size:14px;'>
				<br/>
				<br/>
				<br/>
				<br/>
				<font style='font-size:16px;'>
					{if $lulus_tidak eq 'L'}
						Telah Kompeten Pada Bidang Kualifikasi :
					{elseif $lulus_tidak eq 'TL'}
						Belum Kompeten Pada Bidang Kualifikasi :
					{/if}
				</font>
				<br/>
				<br/>
				<font style='font-size:16px;font-style: italic;font-weight:bold;'>
					{$data_sertifikasi.nama_aparatur|upper}
				</font>
				<br/>
			</td>
		</tr>		
	</table>
	<table width="100%" style="margin-bottom:10px; font-family:arial; ">
		<tr>
			<td width="100%" align='center' style='font-size:14px;'>
				{if $lulus_tidak eq 'L'}
					{$data_sertifikasi.caption_lulus}
				{elseif $lulus_tidak eq 'TL'}
					{$data_sertifikasi.caption_tidak_lulus}
				{/if}
			</td>
		</tr>		
	</table>
    <table width="100%" style="margin-top:10px;font-family:arial; ">
        <tr>
            <td width="50%" align='center' style='font-size:14px;'>
                &nbsp;
            </td>
            <td width="50%" align='center' style='font-size:14px;'>
                Jakarta, {$tanggal_penetapan|date_format:"%d-%m-%Y"}
            </td>
        </tr>
    </table>
	<table width="100%" style="margin-top:5px;font-family:arial; ">
		<tr>
			<td width="50%" align='center' style='font-size:14px;font-weight:bold;'>
				{if $data_jadwal.label_pejabat1}
					{$data_jadwal.label_pejabat1}
				{else}
					INSPEKTUR JENDERAL
					KEMENTERIAN DALAM NEGERI S
				{/if}
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				{if $data_jadwal.pejabat1}
					{$data_jadwal.pejabat1}
				{else}
					TARMIZI A. KARIM S
				{/if}
			</td>
			<td width="50%" align='center' style='font-size:14px;font-weight:bold;'>
				{if $data_jadwal.label_pejabat2}
					{$data_jadwal.label_pejabat2}
				{else}
					Plt. KEPALA BADAN PENGEMBANGAN<br/>
					SUMBER DAYA MANUSIA<br/>
					KEMENTERIAN DALAM NEGERI S
				{/if}				
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				{if $data_jadwal.pejabat2}
					{$data_jadwal.pejabat2}
				{else}
					LA ODE M. SALMAR S
				{/if}
			</td>
		</tr>		
	</table>
	
	<pagebreak />
	<br/>
	<br/>
	
	<h2 style='text-align:center;font-family:arial;'>DAFTAR UNIT KOMPETENSI YANG DISERTIFIKASI</h2>
	<br/>
	<table border='0' cellspacing='0' cellpadding='0' width="100%" style="border-spacing: 0px;margin-bottom:10px; font-family:arial; font-size:14px; ">
		<tr>
			<td width='30%' style='border:1px solid #000;padding:10px;border-spacing: 0px;' align='center'><h3>Kode Unit Kompetensi</h3></td>
			<td width='70%' style='border:1px solid #000 ;padding:10px !important;border-spacing: 0px;' align='center'><h3>Judul Unit Kompetensi</h3></td>
		</tr>
		{foreach from=$data_unit_kompetensi item=rows}
			<tr>
				<td style='border:1px solid #000;padding:5px;border-spacing: 0px;'>{$rows.kode_unit}</td>
				<td style='border:1px solid #000;padding:5px;border-spacing: 0px;'>{$rows.judul_unit}</td>
			</tr>
		{/foreach}
	</table>
	<br/>
	<table width="100%" style="margin-top:50px;font-family:arial; ">
		<tr>
			<td width="50%" align='left' style='font-size:14px;font-weight:bold;'>
				<div style='width:90px; height:115px; background:#EEEEEE;text-align:left;'>
					{if $data_peserta.foto_profil}
						<img src='__repository/dokumen_peserta/{$data_peserta.no_registrasi}/file_data_diri/{$data_peserta.foto_profil}' style='width:113px; height:151px;'>
					{/if}
				</div>
			</td>
			<td width="50%" align='center' style='font-size:14px;'>
				Jakarta, {$tanggal_penetapan|date_format:"%d-%m-%Y"}<br/><br/>
				<font style='font-weight:bold;'>
					{if $data_jadwal.label_pejabat3}
						{$data_jadwal.label_pejabat3}
					{else}
						KEPALA PUSAT  <br/>
						STANDARDISASI DAN SERTIFIKASI <br/>
						SELAKU <br/>
						PENANGGUNG JAWAB LSP PEMDA 
					{/if}	
					
				</font>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<font style='font-weight:bold;'>
					{if $data_jadwal.pejabat3}
						{$data_jadwal.pejabat3}
					{else}
						Drs. Dindin Wahidin, M.Si. S
					{/if}
				</font>
			</td>
		</tr>		
	</table>
	
</div>