{if $type eq "form_asn_tk2"}
	<div id='sert_tam'>
		<div class="form-group">
			<label id='txtsbjnsrt' class="col-sm-2 control-label">Jenjang Sertifikasi : </label>
			<div class="col-sm-8">
				<div class="col-sm-4" style='padding-left:0px !important;'>															
					<select id='sbxx_ap_tk3' onChange="processCmb('sbxx_ap_tk3');" class="form-control" name="sbxx_ap_tk3">
						{$combo_child_tk2}
					</select>
				</div>
			</div>
		</div>
	</div>
{/if}

{if $type eq "form_asn_tk3"}
	<div id='sert_tam_2'>
		<div class="form-group">
			<label class="col-sm-2 control-label">Jenjang Sertifikasi : </label>
			<div class="col-sm-8">
				<div class="col-sm-4" style='padding-left:0px !important;'>															
					<select id='sbxx_ap_tk4' onChange="processCmb('sbxx_ap_tk4');" class="form-control" name="sbxx_ap_tk4">
						{$combo_child_tk3}
					</select>
				</div>
			</div>
		</div>
	</div>
{/if}

{if $type eq "form_asn_tk4"}
	<div id='sert_tam_3'>
		<div class="form-group">
			<label class="col-sm-2 control-label">Skema Sertifikasi : </label>
			<div class="col-sm-8">
				<div class="col-sm-4" style='padding-left:0px !important;'>															
					<select id='sbxx_ap_tk5' onChange="processCmb('sbxx_ap_tk5');" class="form-control" name="sbxx_ap_tk5">
						{$combo_child_tk4}
					</select>
				</div>
			</div>
		</div>
	</div>
{/if}

