<!-- BEGIN PAGE HEADING ROW -->
<div class="row">
    <div class="col-lg-12">
        <div class="page-header title" style="margin-bottom:10px !important;">
            <!-- PAGE TITLE ROW -->
            <h1>Data Peserta Sertifikasi</h1>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- END PAGE HEADING ROW -->
<div id="konten_asesmen">
	<div class="row">
		<div class="col-lg-12">
			<div class="page-header title" style="margin-bottom:5px !important;">
				{include file='modul-admin/template/grid.html' tipe_grid={$tipe} tinggi='40px'}
			</div>
		</div>
	</div>
</div>

