<div class="row">
    <div class="col-lg-12">
        <div class="page-header title" style="">
            <!-- PAGE TITLE ROW -->
            <h1>Tambah Instansi </h1>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="well light">		
			<form class="form-horizontal" role="form" name="regInstansi" id="regInstansi" method="post" enctype="multipart/form-data">
				<div class="form-group">
					<div class="col-sm-12">
						<h4>Data Instansi</h4>
						<div class="hr-12 hr-double hr-dotted"></div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Propinsi : </label>
							<div class="col-sm-5">
								<select id='prv' class="form-control" name="prv">
								{foreach from=$prop item=row}
									<option value="{$row.idprov}" {if $row.idprov eq $data.idx_provinsi_id}selected{/if}> {$row.txt}</option>
								{/foreach}
								</select>
							</div>
							<span class="help-block"><code>*) Harus Diisi</code></span>
						</div>
						<!-- <div class="form-group">
							<label class="col-sm-2 control-label">Kabupaten : </label>
							<div class="col-sm-4">															
								<select id='ka' class="form-control" name="ka">
								</select>
							</div>
							<span class="help-block"><code>*) Harus Diisi</code></span>
						</div> -->
						<div class="space-4"></div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Nama Instansi : </label>
							<div class="col-sm-8">
								<input class="form-control" value="{$data.nama_instansi}" name="nama_ins"  id="nama_ins">
								<input type="hidden" value="{$data.id}" name="kode" >
							</div>
						</div>
					</div>
				</div>
			</form>
			<div class="form-actions ">
				<button onclick="kumpulPost('up_instansi');" class="btn btn-info" id="btnnya">Submit</button>
				<button class="btn btn-primary" onclick="loadUrl('{$host}manajemen-instansi');">Cancel</button>
			</div>
			
		</div>
	</div>
</div>