<!-- BEGIN PAGE HEADING ROW -->
<div class="row">
    <div class="col-lg-12">
        <div class="page-header title" style="">
            <!-- PAGE TITLE ROW -->
            <h1>Konfirmasi Pembayaran Sertifikasi</h1>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- END PAGE HEADING ROW -->
<div id="konten_pembayaran">
<div class="row">
	<div class="col-lg-12">
		<div class="page-header no-padding-bottom" style="margin-top:-20px !important;margin-bottom:10px !important;">
			<h4>Data Peserta Yang Sudah Melakukan Konfirmasi Pembayaran Sertifikasi</h4>
		</div>		
		<div class="well white" style="margin-bottom:0px !important;">
			<label>No. Registrasi :</label> 
			<span style='padding:10px;'>
				<input type='text' id='cari_{$type}' onKeyUp="search_data('tbl_peserta_pembayaran', 'cari_{$type}', '{$type}');" style='margin-top:3px !importants;'>
			</span>
		</div>
		<div class="portlet"><!-- /Portlet -->
			<div id="basic" class="panel-collapse collapse in">
				<div class="portlet-body no-padding">
					<table class="table table-bordered table-hover tc-table">
						<thead>
							<tr>
								<th class="col-small center">No.</th>
								<th class="col-medium center">Nama Peserta</th>
								<th class="hidden-xs col-medium center">NIP</th>
								<th class="hidden-xs col-medium center">No. Registrasi</th>
								<th class="hidden-xs col-medium center">Sertifikasi</th>
								<th class="hidden-xs col-medium center">Kode Diklat</th>
								<th class="col-small center">Action</th>
							</tr>
						</thead>
						<tbody id='{$type}'>
							{if $data}
								{assign var=ind value=1}
								{foreach from=$data item=rows}
									<tr>
										<td class="col-small center">{$ind}</td>
										<td>{$rows.nama_lengkap}</td>
										<td class="hidden-xs">{$rows.nip}</td>
										<td class="hidden-xs">{$rows.no_registrasi}</td>
										<td class="hidden-xs">{$rows.nama_aparatur}</td>
										<td class="hidden-xs">{$rows.kdreg_diklat}</td>
										<td class="col-medium center">
											<input type='hidden' id='nreg' value="{$rows.no_registrasi}">
											<input type='hidden' id='nmlng' value="{$rows.nama_lengkap}">
											<input type='hidden' id='nmsert' value="{$rows.nama_aparatur}">
											<input type='hidden' id='tgpem' value="{$rows.tanggal_pembayaran}">
											<input type='hidden' id='tgkon' value="{$rows.tanggal_konfirm}">
											<input type='hidden' id='fl' value="{$rows.file_bukti_pembayaran}">
											<input type='hidden' id='mtd' value="{$rows.metode_pembayaran}">
											<input type='hidden' id='kdp' value="{$rows.kode_pembayaran}">
											<input type='hidden' id='kdv' value="{$rows.kode_voucher}">
											<input type='hidden' id='kdr' value="{$rows.kdreg_diklat}">
											<div class="btn-group btn-group-xs ">
												<a href="#" onClick="loadUrl_adds('kpo_dt','{$host}pembayaran-detail', 'konten_pembayaran', '{$rows.id}', '{$rows.idx_sertifikasi_id}')" class="btn btn-danger"><i class="fa fa-search-plus"> Lihat Data</i></a>
											</div>	
										</td>
									</tr>
									{assign var=ind value=$ind+1}
								{/foreach}
							{/if}
						</tbody>
					</table>												
				</div>
			</div>
		</div>
	</div>
</div>
</div>
