<!-- BEGIN PAGE HEADING ROW -->
<div class="row">
    <div class="col-lg-12">
        <div class="page-header title" style="">
            <!-- PAGE TITLE ROW -->
             <h1>Data Peserta Uji Test Sertifikasi Asesmen</h1>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- END PAGE HEADING ROW -->
<div id="konten_pembayaran">
<div class="row">
	<div class="col-lg-12">
		<div class="well white" style="margin-bottom:0px !important;">
			<label>No. Registrasi :</label> 
			<span style='padding:10px;'>
				<input type='text' id='cari_{$type}' onKeyUp="search_data('tbl_peserta_ujitulis_sekarang', 'cari_{$type}', '{$type}');" style='margin-top:3px !importants;'>
			</span>
		</div>
		<div class="portlet"><!-- /Portlet -->
			<div id="basic" class="panel-collapse collapse in">
				<div class="portlet-body no-padding">
					<table class="table table-bordered table-hover tc-table">
						<thead>
							<tr>
								<th class="col-small center">No.</th>
								<th class="col-medium center">Nama Peserta</th>
								<th class="hidden-xs col-medium center">NIP</th>
								<th class="hidden-xs col-medium center">No. Registrasi</th>
								<th class="hidden-xs col-medium center">Sertifikasi</th>
								<th class="hidden-xs col-medium center">Kode Diklat</th>
								<th class="hidden-xs col-small center">Asesor</th>
								<th class="col-small center">Action</th>
							</tr>
						</thead>
						<tbody id='{$type}'>
							{if $data_peserta_ujitest}
								{assign var=indss value=1}
								{foreach from=$data_peserta_ujitest item=rowss}
									<tr>
										<td class="col-small center">{$indss}</td>
										<td>{$rowss.nama_lengkap}</td>
										<td class="hidden-xs">{$rowss.nip}</td>
										<td class="hidden-xs">{$rowss.no_registrasi}</td>
										<td class="hidden-xs">{$rowss.nama_aparatur}</td>
										<td class="hidden-xs">{$rowss.kdreg_diklat}</td>
										<td class="hidden-xs col-small center">{$rowss.nama_asesor}</td>
										<td class="col-medium center">
											<div class="btn-group btn-group-xs ">
												<a href="#" onClick="kumpulPost('cet_uj_dt', '{$rowss.id}', '{$rowss.idx_sertifikasi_id}', '{$rowss.kdreg_diklat}', '{$rowss.no_registrasi}')" class="btn btn-inverse"><i class="fa fa-print"> Cetak</i></a>
												<a href="#" id='hdr_{$rowss.id}' disabled onClick="kumpulPost('ver_uj_ikt', '{$rowss.id}', '{$rowss.idx_sertifikasi_id}', '{$rowss.kdreg_diklat}')" class="btn btn-danger"><i class="fa fa-check"> Hadir</i></a>
											</div>	
										</td>
									</tr>
									{assign var=indss value=$indss+1}
								{/foreach}
							{/if}
						</tbody>
					</table>												
				</div>
			</div>
		</div>
	</div>
</div>
</div>
