<div class="mass-head inner">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
				{if $sts_akh.step_hasil eq '1'}
					<h1>Hasil Akhir Sertifikasi</h1>
				{elseif $sts_akh.step_hasil eq '2'}
					<h1>Hasil Sementara</h1>
				{/if}
			</div>
		</div>
	</div>
</div>

{if $sts_akh.step_hasil eq '1'}
		
		<div class="mass-head tp-slider">
			<div class="tp-banner-container">
				<div class="tp-banner">
					<ul>            
                        <!-- THE FIRST SLIDE -->
                        <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="5000">
                            <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
                            <img src="{$host}assets/images/slider/background/bg-1.jpg" alt="" data-bgposition="left center" data-kenburns="on" data-duration="10400" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130" data-bgpositionend="right center">
							
							<!-- LAYER NR. 1 -->
							<div class="tp-caption large_bold_grey skewfromrightshort customout"
								data-x="left" data-hoffset="30"
								data-y="146"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="500"
								data-start="800"
								data-easing="Back.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								data-captionhidden="on"
								style="z-index: 4">{if $datahasil.status_penilaian eq 'L'}Selamat Anda Kompeten{elseif $datahasil.status_penilaian eq 'TL'}Anda Belum Kompeten{/if}
							</div>
																					
							<!-- LAYER NR. 6 -->
							<div class="tp-caption small_thin_grey customin customout"
								data-x="left" data-hoffset="30"
								data-y="200"
								data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="500"
								data-start="1300"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								data-captionhidden="on"
								style="z-index: 8">Dalam Sertifikasi & Penilaian Bidang <b>{$auth.nama_aparatur}</b>
							</div>
							
							
							
							
							
							
							
							<!-- LAYER NR. 8 -->
							{if $datahasil.status_penilaian eq 'L'}
							<div class="tp-caption customin customout"
								data-x="right" data-hoffset="70"
								data-y="80"
								data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="800"
								data-start="700"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 3"><img src="{$host}assets/images/slider/man.png" alt="Image 1">
							</div>
							{elseif $datahasil.status_penilaian eq 'TL'}
							<div class="tp-caption customin customout"
								data-x="right" data-hoffset="70"
								data-y="80"
								data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="800"
								data-start="700"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 3"><img src="{$host}assets/images/slider/gagal.png" alt="Image 1">
							</div>
							{/if}

                        </li>

                        <!-- THE Second SLIDE -->
					</ul>
					<div class="tp-bannertimer"></div>
				</div>
			</div>
		</div>
{elseif $sts_akh.step_hasil eq '2'}
<div class="container">
	<div class="block-s2">		
		<div class="row">
			<div class="col-lg-12">
				<div class="well light">
					<center>
						Saat ini anda sudah melaksanakan semua prosedur ujian diklat. <br/>
						Dimohon untuk menunggu verifikasi hasil yang dilakukan oleh tim asesor kami. <br/>
						Hasil verifikasi akan diumumkan selama 15 hari kerja  dari anda melakukan ujian di TUK dan diumumkan melalui Portal Diklat ini. <br/>
						Berikut dibawah ini kami sajikan hasil ujian sertifikasi yang sudah anda lewati. <br/>
						Terima Kasih.
					</center>
				</div>
			</div>
		</div>
	</div>
</div>
{/if}

<div class="container">
	<div class="block-s2" style='padding-top:0px !important;'>		
		<h4>Data Hasil Test Asesmen Mandiri</h4>
		<div class="row">
			<div class="col-lg-12">
				<div class="well white" style="margin-bottom:0px !important;">
				
					<table class="table table-bordered tc-table" style='margin-bottom:0px;'>
						<tr>
							<td width='20%' style='background:#F8F8F8;'>Status</td>
							<td width='30%'>
								{if $data_asesmen_header.status eq 'L'}
									<font color='green'>MEMENUHI SYARAT</font>
								{else}
									<font color='red'>TIDAK MEMENUHI SYARAT</font>
								{/if}
							</td>
							<td width='20%' style='background:#F8F8F8;'>Tanggal Verifikasi</td>
							<td width='30%' >{$data_asesmen_header.tanggal_verifikasi}</td>
						</tr>
						<tr>
							<td width='20%' style='background:#F8F8F8;'>Petugas Asesor</td>
							<td width='30%'>{$data_asesmen_header.nama_asesor}</td>
							<td width='20%' style='background:#F8F8F8;'>Tanggal Ujian Asesmen</td>
							<td width='30%' >{$data_asesmen_header.tanggal_ujian}</td>
						</tr>
					</table>		
				
				</div>
			</div>
		</div>

		<h4>Data Hasil Ujian Online</h4>
		<div class="row">
			<div class="col-lg-12">
				<div class="well white" style="margin-bottom:0px !important;">
					
					<table class="table table-bordered tc-table" style='margin-bottom:0px;'>
						<tr>
							<td style='background:#F8F8F8;'>Status</td>
							<td>
								{if $data_ujian_header.status eq 'L'}
									<font color='green'>MEMENUHI SYARAT</font>
								{else}
									<font color='red'>TIDAK MEMENUHI SYARAT</font>
								{/if}					
							</td>
							<td style='background:#F8F8F8;'>Total Skor</td>
							<td>{$data_ujian_header.total_skor}</td>
						</tr>
						<tr>
							<td width='20%' style='background:#F8F8F8;'>Total Jawaban Benar</td>
							<td width='30%'>{$data_ujian_header.jumlah_benar}</td>
							<td width='20%' style='background:#F8F8F8;'>Total Jawaban Salah</td>
							<td width='30%'>{$data_ujian_header.jumlah_salah}</td>					
						</tr>
						<tr>
							<td width='20%' style='background:#F8F8F8;'>Tanggal Ujian</td>
							<td width='30%'>{$data_ujian_header.tanggal_ujian}</td>
							<td width='20%' style='background:#F8F8F8;'>Tanggal Verifikasi</td>
							<td width='30%'>{$data_ujian_header.tanggal_verifikasi}</td>					
						</tr>
					</table>
					
				</div>
			</div>
		</div>
		
		<h4>Data Hasil Ujian Simulasi</h4>
		<div class="row">
			<div class="col-lg-12">
				<div class="well white" style="margin-bottom:0px !important;">
					<table class="table table-bordered tc-table" style='margin-bottom:0px;'>
						<tr>
							<td style='background:#F8F8F8;'>Status</td>
							<td>
								{if $data_simulasi_header.status_penilaian eq 'L'}
									<font color='green'>MEMENUHI SYARAT</font>
								{else}
									<font color='red'>TIDAK MEMENUHI SYARAT</font>
								{/if}					
							</td>
							<td style='background:#F8F8F8;'>Nilai</td>
							<td>{$data_simulasi_header.total_skor}</td>
						</tr>
						<tr>
							<td width='20%' style='background:#F8F8F8;'>Petugas Asesor</td>
							<td width='30%'>{$data_simulasi_header.nama_asesor}</td>
							<td width='20%' style='background:#F8F8F8;'>Tanggal Verifikasi</td>
							<td width='30%'>{$data_simulasi_header.tgl_verifikasi}</td>					
						</tr>
					</table>
				</div>
			</div>
		</div>

		<h4>Data Hasil Ujian Wawancara</h4>
		<div class="row">
			<div class="col-lg-12">
				<div class="well white" style="margin-bottom:0px !important;">
					
					<table class="table table-bordered tc-table" style='margin-bottom:0px;'>
						<tr>
							<td style='background:#F8F8F8;'>Status</td>
							<td>
								{if $data_wawancara_header.status eq 'L'}
									<font color='green'>MEMENUHI SYARAT</font>
								{else}
									<font color='red'>TIDAK MEMENUHI SYARAT</font>
								{/if}					
							</td>
							<td style='background:#F8F8F8;'>Nilai</td>
							<td>{$data_wawancara_header.nilai}</td>
						</tr>
						<tr>
							<td width='20%' style='background:#F8F8F8;'>Petugas Asesor</td>
							<td width='30%'>{$data_wawancara_header.nama_asesor}</td>
							<td width='20%' style='background:#F8F8F8;'>Tanggal Verifikasi</td>
							<td width='30%'>{$data_wawancara_header.tanggal_verifikasi}</td>					
						</tr>
						<tr>
							<td width='20%' style='background:#F8F8F8;'>Memo Asesor</td>
							<td width='30%'>{$data_wawancara_header.memo}</td>
							<td width='20%' style='background:#F8F8F8;'>&nbsp;</td>
							<td width='30%'>&nbsp;</td>					
						</tr>
					</table>
					
				</div>
			</div>
		</div>
		
		<h4>Kolom Komplain Peserta</h4>
		<div class="row">
			<div class="col-lg-12">
				<div class="well white" style="margin-bottom:0px !important;">	
					{if $sts_akh.step_hasil eq '1'}
						{$data_wawancara_header.komplain|default:''}
					{elseif $sts_akh.step_hasil eq '2'}
						<textarea class="form-control" rows="5" name='klm_komplain' id='klm_komplain' >{$data_wawancara_header.komplain|default:''}</textarea>
						<br/>
						<div class="form-actions ">
							<button id='btnnya' class="btn btn-primary" onClick="event.preventDefault();kumpulPoster('sbm-komplain');">Submit</button>
						</div>
					{/if}	
				</div>
			</div>
		</div>
		
		
		<br/>
		<div class="row">
			<div class="col-lg-12">
				<h4>Ketentuan Hasil Akhir Diklat</h4>
				<div class="well light">
					<h5><b>Bagi Peserta Yang Kompeten :</b></h5>
					<ul>
						<li>
							Anda sudah dinyatakan kompeten dalam diklat sertifikasi & penilaian bidang {$auth.nama_aparatur}.
						</li>
						<li>
							Sertifikat asli akan dikirim/diantar ke alamat rumah anda atau ke instansi dimana anda bekerja.
						</li>
						<li>
							Pencetakan hanya dilakukan di TUK Diklat Kementerian Dalam Negeri.
						</li>						
					</ul>
					<br/>
					<h5><b>Bagi Peserta Yang Belum Kompeten :</b></h5>
					<ul>
						<li>
							Anda sudah dinyatakan belum kompeten dalam diklat sertifikasi & penilaian bidang {$auth.nama_aparatur}.
						</li>
						<li>
							Anda berhak mendapatkan remedial diklat sertifikasi ini dalam kurun waktu 4 bulan terhitung dari tanggal diumumkan-nya hasil diklat ini.
						</li>
						<li>
							Silahkan mengajukan komplain apabila anda merasa dirugikan dengan keputusan diklat ini.
						</li>
					
					</ul>
				</div>
			</div>
		</div>

	</div>
</div>
		
