<div class="row">
	<div class="col-lg-12">
		<div class="well white">		
			<form class="form-horizontal" role="form" id='jdw' action="{$host}submit-penjadwalan" method="post" enctype="multipart/form-data">
				<input type='hidden' name='broedst' value='{$editstatus}'>
				<input type='hidden' name='broedid' value="{$data.id|default:''}">
				<div class="form-group">
					<div class="col-sm-12">
						
						<h4>Form Penjadwalan TUK</h4>
						<div class="hr-12 hr-double hr-dotted"></div>
						{if $editstatus eq 'add'}
						<div id="sertifikasi_1">
							<div class="form-group">
								<label class="col-sm-2 control-label">Jenis Sertifikasi : </label>
								<div class="col-sm-8">
									<div class="col-sm-4" style='padding-left:0px !important;'>															
										<select id='apxx_tk_1' onChange="processCmb('apxx_tk_1');" class="form-control" >
											{$idx_aparatur}
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label id='txtsbjn' class="col-sm-2 control-label">Sub Jenis Sertifikasi : </label>
								<div class="col-sm-8">
									<div class="col-sm-4" style='padding-left:0px !important;'>															
										<select id='sbxx_ap_tk2' onChange="processCmb('sbxx_ap_tk2');" class="form-control" name="sbxx_ap_tk2">
										</select>
										<input type='hidden' id='sb_jns_nxx'>
									</div>
								</div>
							</div>
						</div>			
						{elseif $editstatus eq 'edit'}
							<div class="form-group">
								<label class="col-sm-2 control-label">Jenjang Sertifikasi : </label>
								<div class="col-sm-8">
									<div class="col-sm-4" style='padding-left:0px !important;'>															
										<input disabled type="text" value="{$data.nama_aparatur|default:''}">
										<input type='hidden' name="sbxx_ap_tk2" value="{$data.idx_sertifikasi_id}">
									</div>
								</div>
							</div>
						{/if}
					
						<div class="form-group">
							<label class="col-sm-2 control-label">TUK :</label>
							<div class="col-sm-8">
								<select name='edtuk' id='edtuk'>
									{$cmbtuk}
								</select>
							</div>
						</div>
						<div class="space-4"></div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Tanggal : </label>
							<div class="col-sm-8">
								<input  type="text" id="tggw" name='tggw' value="{$data.tanggal_wawancara|default:''}">
							</div>
						</div>
						<div class="space-4"></div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Jam</label>
							<div class="col-sm-8">
								<input  type="text" id="jmg" name='jmg' value="{$data.jam|default:''}">
							</div>
						</div>
						<div class="space-4"></div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Kuota Peserta :</label>
							<div class="col-sm-1">
								<input type="text" id='ktpp' class="form-control" placeholder="" name="ktpp" value="{$data.kuota|default:''}">
							</div>
						</div>
						<div class="space-4"></div>
						{if $editstatus eq  'edit'}
						<div class="form-group">
							<label class="col-sm-2 control-label">Status Jadwal :</label>
							<div class="col-sm-8">
								{if $data.status eq 'A'}
									{assign var=sela value='selected'}
								{else}
									{assign var=sela value=''}
								{/if}
								{if $data.status eq 'TA'}
									{assign var=selta value='selected'}
								{else}
									{assign var=selta value=''}
								{/if}
								
								<select name='sts'>
									<option value='A' {$sela} >Aktif</option>
									<option value='TA' {$selta} >Tidak Aktif</option>
								</select>
							</div>
						</div>
						{/if}
						
						<br/>
						<h4>Asesor Yang Bertugas</h4>
						<div class="hr-12 hr-double hr-dotted"></div>
						{if $editstatus eq  'edit'}
							<div class="form-group">
								<label class="col-sm-2 control-label">List Asesor </label>
								<div class="col-sm-8">
									{foreach from=$data_asesor item=rows}
										<div id='div_{$rows.real_name}'>
											{$rows.real_name} &nbsp;&nbsp; <a href=''>x</a>
										</div>
									{/foreach}
								</div>
							</div>
						{/if}
						<div class="form-group">
							<label class="col-sm-2 control-label">Asesor Tersedia</label>
							<div class="col-sm-8">
								<select id="as-list" name='as_list[]' multiple="multiple" style='width:500px !important;'>
									{$cmb_asesor}
								</select>
							</div>
						</div>
						
						<br/>
						<h4>Pejabat Berwenang <small>Untuk Generate Sertifikat</small></h4>
						<div class="hr-12 hr-double hr-dotted"></div>
						
						<h5>Pejabat Hal. 1 Kiri Bawah</h5>
						<div class="form-group">
							<label class="col-sm-2 control-label">Label</label>
							<div class="col-sm-8">
								<input class='form-control' type="text" id="label1" name='label1' value="{$data.label_pejabat1|default:''}">
							</div>
						</div><div class="form-group">
							<label class="col-sm-2 control-label">Nama Pejabat</label>
							<div class="col-sm-8">
								<input class='form-control' type="text" id="pejabat1" name='pejabat1' value="{$data.pejabat1|default:''}">
							</div>
						</div>
						
						<h5>Pejabat Hal. 1 Kanan Bawah</h5>
						<div class="form-group">
							<label class="col-sm-2 control-label">Label</label>
							<div class="col-sm-8">
								<input class='form-control' type="text" id="label2" name='label2' value="{$data.label_pejabat2|default:''}">
							</div>
						</div><div class="form-group">
							<label class="col-sm-2 control-label">Nama Pejabat</label>
							<div class="col-sm-8">
								<input class='form-control' type="text" id="pejabat2" name='pejabat2' value="{$data.pejabat2|default:''}">
							</div>
						</div>
						
						<h5>Pejabat Hal. 2 Kanan Bawah</h5>
						<div class="form-group">
							<label class="col-sm-2 control-label">Label</label>
							<div class="col-sm-8">
								<input class='form-control' type="text" id="label3" name='label3' value="{$data.label_pejabat3|default:''}">
							</div>
						</div><div class="form-group">
							<label class="col-sm-2 control-label">Nama Pejabat</label>
							<div class="col-sm-8">
								<input class='form-control' type="text" id="pejabat3" name='pejabat3' value="{$data.pejabat3|default:''}">
							</div>
						</div>
						
						<br/>
						<div style="color:red;" id='warning-data'></div>
						
					</div>
				</div>
			</form>
			<div class="form-actions ">
				<button id='btnnya' class="btn btn-primary" onClick="event.preventDefault();sbmjdw();">Submit</button>
				<button class="btn btn-info" onclick="loadUrl('{$host}penjadwalan-grid');">Cancel</button>
			</div>			
			
		</div>
	</div>
</div>

<script>
	$('#tggw').datepicker({
		dateFormat: "yy-mm-dd"
    });  
	$("#as-list").select2();
</script>