{if $type eq "form_asn_tk2"}
	<div id='sert_tam'>
		<div class="form-group">
			<label id='txtsbjnsrt' class="col-sm-2 control-label">Jenjang Sertifikasi : </label>
			<div class="col-sm-10">
				<div class="col-sm-4">															
					<select id='sb_ap_tk3' onChange="processCombo('sb_ap_tk3');" class="form-control" name="sb_ap_tk3">
						{$combo_child_tk2}
					</select>
				</div>
			</div>
		</div>
	</div>
{/if}

{if $type eq "form_asn_tk3"}
	<div id='sert_tam_2'>
		<div class="form-group">
			<label class="col-sm-2 control-label">Jenjang Sertifikasi : </label>
			<div class="col-sm-10">
				<div class="col-sm-4">															
					<select id='sb_ap_tk4' onChange="processCombo('sb_ap_tk4');" class="form-control" name="sb_ap_tk4">
						{$combo_child_tk3}
					</select>
				</div>
			</div>
		</div>
	</div>
{/if}

{if $type eq "form_asn_tk4"}
	<div id='sert_tam_3'>
		<div class="form-group">
			<label class="col-sm-2 control-label">Skema Sertifikasi : </label>
			<div class="col-sm-10">
				<div class="col-sm-4">															
					<select id='sb_ap_tk5' onChange="processCombo('sb_ap_tk5');" class="form-control" name="sb_ap_tk5">
						{$combo_child_tk4}
					</select>
				</div>
			</div>
		</div>
	</div>
{/if}

{if $type eq "tuk_list"}
	<div id='sert_tam'>
		<div class="col-sm-4">															
			<select id='sb_ap_tk3' onChange="processCombo('sb_ap_tk3');" class="form-control" name="sb_ap_tk3">
				{$combo_child_tk2}
			</select>
		</div>
	</div>
{/if}

{if $type eq "file_persyaratan_registrasi"}
	<div id="fl_s">
		<div class="hr-12 hr-double hr-dotted"></div>
		{if $idx_sertifikasi_id eq '21' || $idx_sertifikasi_id eq '22'}
			<h4>Upload Kesesuaian Persyaratan Inpassing & Bukti Pendukung</h4>
		{else}
			<h4>Upload Kesesuaian Persyaratan Sertifikasi & Bukti Pendukung</h4>
		{/if}
		
		<div class="hr-12 hr-double hr-dotted"></div>
		<div class="space-4"></div>
			<div class="col-sm-12">	
			{if $data_persyaratan}
				{assign var=nonya value=1}
				{assign var=indexs value=0}
				{foreach from=$data_persyaratan item=rows}
					<div class="form-group">
						<label class='col-sm-12'>{$nonya}. {$rows.nama_persyaratan}</label><br/>
						<input type='hidden' name="idprs[]" value="{$rows.id}" />
						<div class="col-sm-12">
							<input type="file" class='file-persyaratan-sertifikasi validatext' id='fl_{$indexs}' onChange="chf('fl_{$indexs}', 3);" name='fl_prsyrt[]' style='padding:5px;width:500px;border:1px solid #E5E5E5;background:#fff'>
							<span class="help-block"><code>format file harus .pdf, ukuran file maksimal 2 MB</code> <span id='fl_{$indexs}_sts'></span> </span>
						</div>
					</div>
					{assign var=nonya value=$nonya+1}
					{assign var=indexs value=$indexs+1}
				{/foreach}
			{else}
				<br/>
				<center>:: Data Persyaratan Belum Tersedia ::</center>
			{/if}
			</div>
	</div>
	<script>
		$('.validatextPers').validatebox({
			required: true,
			missingMessage : "Inputan Ini Harus Diisi !"
		});

	</script>
{/if}