<div class="mass-head inner">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
				<h1>Mengulang Diklat Terakhir Anda</h1>
			</div>
		</div>
	</div>
</div>			

<div class="container ">
	<div class="block-s1">
		<div class="row">
			<div class="col-lg-12">						
				<div class="portlet">
					<div class="well light">
						
						<form class="form-horizontal" role="form" name="regdiklat_ngulang" action="{$host}submit-registrasi-ngulang" method="post" enctype="multipart/form-data">
							<input type='hidden' name='idusrx' value='{$auth.id}'>
							<input type='hidden' name='ktkregspso' value='{$auth.no_registrasi}'>
							<input type='hidden' name='idxsr_lm' value='{$id_sertifikasi}'>
							<input type='hidden' name='sb_jns_sert' value='{$sertifikasi}'>
							<input type='hidden' name='cb_dbc' value='{$jml_coba}'>
							
							<div class="form-group">
								<div class="col-sm-12">
									<div class="hr-12 hr-double hr-dotted"></div>
									<h4>Data Pribadi</h4>
									<div class="hr-12 hr-double hr-dotted"></div>
									
									<div class="form-group">
										<label class="col-sm-2 control-label">Nama Lengkap : </label>
										<div class="col-sm-8">
											<span class="form-control" style="border:none !important;">
												<input type='hidden' name='ed_namalengkap' value='{$auth.nama_lengkap}'>
												{$auth.nama_lengkap}
											</span>
										</div>
									</div>		
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-2 control-label">No. Registrasi : </label>
										<div class="col-sm-8">
											<span class="form-control" style="border:none !important;">
												{$auth.no_registrasi}
											</span>
										</div>
									</div>		
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-2 control-label">NIP : </label>
										<div class="col-sm-8">
											<span class="form-control" style="border:none !important;">
												<input type='hidden' name='ed_nonip' value='{$auth.nip}'>
												{$auth.nip}
											</span>
										</div>
									</div>		
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Tempat / Tgl. Lahir : </label>
										<div class="col-sm-8">
											<span class="form-control" style="border:none !important;">
												{$auth.tempat_lahir}, {$auth.tanggal_lahir|date_format:"%d-%m-%Y"}
											</span>
										</div>
									</div>		
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Jenis Kelamin : </label>
										<div class="col-sm-2">
											<span class="form-control" style="border:none !important;">
											{if $auth.jenis_kelamin eq "L"}
												Laki-Laki
											{elseif $auth.jenis_kelamin eq "P" }
												Perempuan
											{/if}
											</span>							
										</div>
									</div>		
									<div class="space-4"></div>									
									<div class="form-group">
										<label class="col-sm-2 control-label">Kebangsaaan : </label>
										<div class="col-sm-2">
											<span class="form-control" style="border:none !important;">
											{$auth.kebangsaan}
											</span>							
										</div>
									</div>		
									<div class="space-4"></div>									
									<div class="form-group">
										<label class="col-sm-2 control-label">Alamat : </label>
										<div class="col-sm-8">
											<span class="form-control" style="border:none !important;height:auto !important;">
											{$auth.alamat_rumah}
											</span>							
										</div>
									</div>		
									<div class="space-4"></div>									
									<div class="form-group">
										<label class="col-sm-2 control-label">Kode Pos : </label>
										<div class="col-sm-2">
											<span class="form-control" style="border:none !important;">
											{$auth.kode_pos|default:""}
											</span>							
										</div>
									</div>		
									<div class="space-4"></div>									
									<div class="form-group">
										<label class="col-sm-2 control-label">Kontak : </label>
										<div class="col-sm-3">
											<span class="form-control" style="border:none !important;">
											Telp. Rumah - {$auth.no_telepon|default:''}
											</span>
										</div>
										<div class="col-sm-4">
											<span class="form-control" style="border:none !important;">
											No. Handphone - {$auth.no_handphone}
											</span>
										</div>
									</div>	
									<div class="space-4"></div>		
									<div class="form-group">
										<label class="col-sm-2 control-label">Email : </label>
										<div class="col-sm-4">
											<span class="form-control" style="border:none !important;">
											{$auth.email}
											</span>
										</div>
									</div>
									
									<div class="hr-12 hr-double hr-dotted"></div>
									<h4>Data Pekerjaan Sekarang </h4>
									<div class="hr-12 hr-double hr-dotted"></div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Penentuan Angka Kredit (PAK) : </label>
										<div class="col-sm-4">															
											<input class="col-sm-6" id='edFile_pak' type="file" name='edFile_pak' style='padding:5px;width:500px;border:1px solid #E5E5E5;background:#fff'>
											<span class="help-block"><code>format file harus .pdf, ukuran file maksimal 500 kb</code></span>
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Kementerian : </label>
										<div class="col-sm-4">															
											<select id="kmnt" class="form-control" name="kmnt">
												{$idx_kementerian}
											</select>
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Formasi : </label>
										<div class="col-sm-4">															
											<select id="frms" class="form-control" name="frms">
												{$idx_formasi}
											</select>
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Lokasi : </label>
										<div class="col-sm-4">															
											<select id="lks" class="form-control" name="lks">
												{$idx_lokasi}
											</select>
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Lembaga/Instansi : </label>
										<div class="col-sm-4">															
											<select class="form-control" name="ins">
												{$idx_instansi}
											</select>
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>									
									<div class="form-group">
										<label class="col-sm-2 control-label">Provinsi : </label>
										<div class="col-sm-4">															
											<select id='prv' onChange="processCombo('prv');" class="form-control" name="prv">
												{$idx_provinsi_instansi_id}
											</select>
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Kabupaten : </label>
										<div class="col-sm-4">															
											<select id='ka' class="form-control" name="ka">
												{$idx_kabupaten_instansi_id}
											</select>
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Pangkat/Golongan : </label>
										<div class="col-sm-4">															
											<select id='ed_pangkat' class="form-control" name="ed_pangkat">
												{$idx_pangkat_id}
											</select>
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>
									<div class="space-4"></div>	
									<div class="form-group">
										<label class="col-sm-2 control-label">Jabatan : </label>
										<div class="col-sm-6">
											<input type="text" id='ed_jabatan' class="form-control" placeholder="" name="ed_jabatan" value="{$jabatan|default:''}">
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>																	
									<div class="space-4"></div>	
									<div class="form-group">
										<label class="col-sm-2 control-label">Alamat : </label>
										<div class="col-sm-10">
											<textarea class="form-control" id='ed_alamatKtr' rows="4" cols="50"  placeholder="" name="ed_alamatKtr">{$alamat_instansi|default:''}</textarea>
											<span class="help-block"><code>*) Harus Diisi</code></span>
										</div>
									</div>
									
									<div class="hr-12 hr-double hr-dotted"></div>
									<h4>Data Permohonan Sertifikasi Yang Akan Diulang</h4>
									<div class="hr-12 hr-double hr-dotted"></div>
									<div class="form-group">
										<label class="col-sm-2 control-label">TUK Terdekat : </label>
										<div class="col-sm-10">
											<div class="col-sm-4">															
												<select id='tku_dxi' onChange="processCombo('ck_tku')"; name='tku_dxi' class="form-control" >
													{$idx_tuk}
												</select>
												<span class="help-block"><code>*) Harus Diisi</code></span>
											</div>
											&nbsp;&nbsp;
											<span id='res-cku'></span>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Jenjang Sertifikasi : </label>
										<div class="col-sm-8">
											<span class="form-control" style="border:none !important;">
											{$sertifikasi|default:'-'}
											</span>
										</div>
									</div>
									<div class="hr-12 hr-double hr-dotted"></div>
									<h4>Kesesuaian Persyaratan Sertifikasi & Bukti Pendukung</h4>
									<div class="hr-12 hr-double hr-dotted"></div>
									<div class="col-sm-12">	
										{if $data_persyaratan}
											{assign var=nonya value=1}
											{assign var=indexs value=0}
											{foreach from=$data_persyaratan item=rows}
												<div class="form-group">
													<label class='col-sm-12'>{$nonya}. {$rows.nama_persyaratan}</label><br/>
													<input type='hidden' name="idprs[]" value="{$rows.id}" />
													<div class="col-sm-12">
														<input type="file" class='file-persyaratan-sertifikasi' id='fl_{$indexs}' onChange="chf('fl_{$indexs}', 1);" name='fl_prsyrt[]' style='padding:5px;width:500px;border:1px solid #E5E5E5;background:#fff'>
														<span class="help-block"><code>format file harus .pdf, ukuran file maksimal 5 MB</code> <span id='fl_{$indexs}_sts'></span> </span>
													</div>
												</div>
												{assign var=nonya value=$nonya+1}
												{assign var=indexs value=$indexs+1}
											{/foreach}
										{else}
											<br/>
											<center>:: Data Persyaratan Belum Tersedia ::</center>
										{/if}
									</div>
									
								</div>
							</div>
						</form>
						<div class="form-actions ">
							<button id='btnnya' class="btn btn-primary" onClick="event.preventDefault();sbtdl_reg_ngulang();">Submit</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>