
<div class="mass-head inner" >
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
				<h1>Registrasi Peserta <small>Lengkapi form berikut sesuai dengan data diri Anda:</small></h1>
			</div>
		</div>
	</div>
</div>			

<div class="container ">
	<div class="block-s1">
		<div class="row">
			<div class="col-lg-12">						
				<div class="portlet">
					<div class="well light">
					<form class="form-horizontal" role="form" name="regdiklat" id='regdiklat' action="{$host}submit-registrasi" method="post" enctype="multipart/form-data">
						<input type='hidden' name="sst" value="{$editstatus}">
							<div class="form-group">
								<div class="col-sm-12">
									<h4>Data Pribadi</h4>
									<div class="hr-12 hr-double hr-dotted"></div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Nama Lengkap : </label>
										<div class="col-sm-8">
											<input id='ed_namalengkap' class="form-control validatext" placeholder="" name="ed_namalengkap" required />
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>		
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-2 control-label">NIP : </label>
										<div class="col-sm-6">
											<input type="text" id='ed_nonip' class="form-control validatext" placeholder="" name="ed_nonip" required />
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">NIK : </label>
										<div class="col-sm-6">
											<input type="text" id='ed_nonik' class="form-control validatext" placeholder="" name="ed_nonik">
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Tempat / Tgl. Lahir : </label>
										<div class="col-sm-2">
											<input type="text" id='ed_tmpLahir' class="form-control validatext" placeholder="" name="ed_tmpLahir">
										</div>			
										<div class="col-sm-1" >															
											<select id='tgl_lahir' class="form-control validatext" name="tgl_lahir">
												{$tgl_lahir}
											</select> 
										</div>
										<div class="col-sm-2" >															
											<select id='bln_lahir' class="form-control validatext" name="bln_lahir">
												{$bulan_lahir}
											</select>
										</div>
										<div class="col-sm-2" >															
											<select id='thn_lahir' class="form-control validatext" name="thn_lahir">
												{$tahun_lahir}
											</select>
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>																
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Jenis Kelamin : </label>
										<div class="col-sm-2">															
											<select id='ed_jnsKel' class="form-control validatext" name="ed_jnsKel">
												{$jenis_kelamin}
											</select>
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>		
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Kebangsaaan : </label>
										<div class="col-sm-3">															
											<select id='ed_bangsa' class="form-control validatext" name="ed_bangsa">
												{$kebangsaan}
											</select>
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>
									<div class="space-4"></div>	
									<div class="form-group">
										<label class="col-sm-2 control-label">Alamat : </label>
										<div class="col-sm-8">
											<textarea id='ed_alamatRmh' class="form-control validatext" rows="4" cols="50"  placeholder="" name="ed_alamatRmh"></textarea>
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>						
									<div class="form-group">
										<label class="col-sm-2 control-label">Kode Pos : </label>
										<div class="col-sm-2">
											<input type="text" id='ed_kdPosRmh' class="form-control" placeholder="" name="ed_kdPosRmh">
										</div>
									</div>					
									<div class="form-group">
										<label class="col-sm-2 control-label">Kontak : </label>
										<div class="col-sm-3">
											<input type="text" id='ed_tlpRmh' class="form-control" placeholder="Telepon Rumah : (021 xxxxxx)" name="ed_tlpRmh">
										</div>
										<div class="col-sm-4">
											<input type="text" id='ed_hempon' class="form-control validatext" placeholder="No HP : (08xx xxxx xxxx)" name="ed_hempon">
											<span class="help-block"><code>*) Harus Diisi</code></span>
										</div>
									</div>					
									<div class="form-group">
										<label class="col-sm-2 control-label">Email : </label>
										<div class="col-sm-4">
											<input type="email" id='ed_mailer' class="form-control validatextemail" placeholder="" name="ed_mailer">
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Pass Foto : </label>
										<div class="col-sm-6">
											<input class="col-sm-6 validatext" id='edFile_passFoto' onChange="chf('edFile_passFoto', 2);" type="file" name='edFile_passFoto' style='padding:5px;width:500px;border:1px solid #E5E5E5;background:#fff'>
											<span class="help-block"><code>format file harus .jpg, ukuran file maksimal 500 KB</code> <span id='edFile_passFoto_sts'></span> </span>
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>
							<div class="hr-12 hr-double hr-dotted"></div>
							<h4>Data Pendidikan <small>(Hanya diisi dengan pendidikan formal terakhir dan dilampiri bukti dokumen)</small></h4>
							<div class="hr-12 hr-double hr-dotted"></div>
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Pendidikan Terakhir : </label>
										<div class="col-sm-3">															
											<select id='ed_pend' class="form-control validatext" name="ed_pend">
												{$idx_pendidikan_id}
											</select>
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Program Studi: </label>
										<div class="col-sm-6">															
											<select id='ed_prodi' class="form-control validatext" name="ed_prodi">
												{$idx_programstudi_id}
											</select>
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Tahun Lulus : </label>
										<div class="col-sm-2" >															
											<select id='ed_thLulus' class="form-control validatext" name="ed_thLulus">
												{$tahun_lahir}
											</select>
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Upload Ijazah : </label>
										<div class="col-sm-6">
											<input class="col-sm-6 validatext" id='edFile_ijazah' onChange="chf('edFile_ijazah', '1');" type="file" name='edFile_ijazah' style='padding:5px;width:500px;border:1px solid #E5E5E5;background:#fff'>
											<span class="help-block"><code>format file harus .pdf, ukuran file maksimal 5 MB</code> <span id='edFile_ijazah_sts'></span> </span>
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>
									
							<div class="hr-12 hr-double hr-dotted"></div>
							<h4>Data Pekerjaan Sekarang </h4>
							<div class="hr-12 hr-double hr-dotted"></div>																
									<div class="form-group">
										<label class="col-sm-2 control-label">Kementerian : </label>
										<div class="col-sm-4">															
											<select id="kmnt" class="form-control validatext" name="kmnt">
												{$idx_kementerian}
											</select>
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Formasi : </label>
										<div class="col-sm-4">															
											<select id="frms" class="form-control validatext" name="frms">
												{$idx_formasi}
											</select>
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label ">Lokasi : </label>
										<div class="col-sm-4">															
											<select id="lks" class="form-control validatext" name="lks">
												{$idx_lokasi}
											</select>
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Lembaga/Instansi : </label>
										<div class="col-sm-4">															
											<select class="form-control validatext" name="ins">
												{$idx_instansi}
											</select>
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>									
									<div class="form-group">
										<label class="col-sm-2 control-label">Provinsi : </label>
										<div class="col-sm-4">															
											<select id='prv' onChange="processCombo('prv');" class="form-control validatext" name="prv">
												{$idx_provinsi_instansi_id}
											</select>
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Kab/Kota : </label>
										<div class="col-sm-4">															
											<select id='ka' class="form-control" name="ka">
											</select>
										</div>
										<span class="help-block"><code>*) Hanya Diisi Apabila Instansi Anda Berada Dalam Lingkup Kabupaten/Kota</code></span>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Lingkup Daerah : </label>
										<div class="col-sm-4">															
											<select id='ka_ko' class="form-control" name="ka_ko">
												{$idx_lingkup_instansi}
											</select>
										</div>
										<span class="help-block"><code>*) Hanya Diisi Apabila Instansi Anda Berada Dalam Lingkup Kabupaten/Kota</code></span>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Pangkat/Golongan : </label>
										<div class="col-sm-2">															
											<select id='ed_pangkat' class="form-control validatext" name="ed_pangkat">
												{$idx_pangkat_id}
											</select>
										</div>
										<label class="col-sm-1 control-label">TMT : </label>
										<div class="col-sm-1" >															
											<select id='tgl_tmt' class="form-control validatext" name="tgl_tmt">
												{$tgl_lahir}
											</select> 
										</div>
										<div class="col-sm-2" >															
											<select id='bln_tmt' class="form-control validatext" name="bln_tmt">
												{$bulan_lahir}
											</select>
										</div>
										<div class="col-sm-2" >															
											<select id='thn_tmt' class="form-control validatext" name="thn_tmt">
												{$tahun_lahir}
											</select>
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>
									<div class="space-4"></div>	
									<div class="form-group">
										<label class="col-sm-2 control-label">Jabatan : </label>
										<div class="col-sm-6">
											<input type="text" id='ed_jabatan' class="form-control validatext" placeholder="" name="ed_jabatan">
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>																	
									<div class="space-4"></div>	
									<div class="form-group">
										<label class="col-sm-2 control-label">Alamat : </label>
										<div class="col-sm-8">
											<textarea class="form-control validatext" id='ed_alamatKtr' rows="4" cols="50"  placeholder="" name="ed_alamatKtr"></textarea>
										</div>
										<span class="help-block"><code>*) Harus Diisi</code></span>
									</div>																						
							<div class="hr-12 hr-double hr-dotted"></div>
							<h4>Data Permohonan Sertifikasi &nbsp;&nbsp;&nbsp;<small>(Pilih Jadwal Sertifikasi & Upload File Digital Hasil Scan Persyaratan Sertifikasi)</small></h4>
							<div class="hr-12 hr-double hr-dotted"></div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Nilai PAK Terakhir : </label>
									<div class="col-sm-10">															
										<div class="col-sm-2">	
											<input type="text" id='ed_nilaipak' class="form-control validatextpak" placeholder="" name="ed_nilaipak">
										</div>
										<span class="help-block"><code>*) Harus Diisi Kecuali Pengajuan Inpassing</code></span>
										
										&nbsp;&nbsp;
										<span id='res-pak'></span>
										
									</div>
									
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">Jadwal Ujian : </label>
									<div class="col-sm-10">
										<div class="col-sm-4">															
											<select id='tku_dxi' onChange="processCombo('ck_tku')"; name='tku_dxi' class="form-control validatext" >
												{$idx_tuk}
											</select>
											<input type='hidden' id='pnmpng_asp' name='pnmpng_asp'>
											<input type='hidden' id='sertis_id' name='sertis_id'>
										</div>
										&nbsp;&nbsp;
										<span id='res-cku'></span>
									</div>
								</div>
								<div id="sertifikasi_1"></div>
							</div>															
						</div>
					</form>
					<div class="form-actions ">
						<button id='btnnya' class="btn btn-primary" onClick="sbtdl_reg();">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$('.validatext').validatebox({
		required: true,
		missingMessage : "Inputan Ini Harus Diisi !"
	});
	$('.validatextpak').validatebox({
		required: true,
		missingMessage : "Inputan Ini Harus Diisi, Kecuali Pengajuan Inpassing"
	});
	$('.validatextemail').validatebox({
		required: true,
		validType:'email',
		missingMessage : "Inputan Ini Harus Diisi !",
		invalidMessage : "Masukkan Alamat Email Dengan Benar !"
	});
</script>
