<style type="text/css">
	.datagrid-row-over td{
		background:#D0E5F5;
	}
	.datagrid-row-selected td{
		background:#FBEC88;
		color:#000;
	}
</style>


<div id="div_{$tipe_grid}" style="width:101.3%">
	<div id='{$tipe_grid}'></div>
	<div id='toolbar_{$tipe_grid}' style='padding:3px;height:{$tinggi}'>
		{if $tipe_grid eq 'data_peserta' || $tipe_grid eq 'administrasi_peserta' || $tipe_grid eq 'hasil_akhir' || $tipe_grid eq 'cetak_sertifikat'}
			<label style='width:120px !important;'>Nama Peserta </label> : <input type='text' id='nmpsr' style='width:240px;padding:3px !important;margin-top:3px;' /> 
			<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain" group="" id="" onClick="kumpulPost('fltrdt', '{$tipe_grid}');">
				<span class="l-btn-left l-btn-icon-left">
					<span class="l-btn-text">Cari Data</span><span class="l-btn-icon icon-search">&nbsp;</span>
				</span>
			</a>
			&nbsp;&nbsp;
			<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain" group="" id="refresh" onClick="">
				<span class="l-btn-left l-btn-icon-left">
					<span class="l-btn-text">Refresh All Data</span><span class="l-btn-icon icon-reload">&nbsp;</span>
				</span>
			</a>
			<br/>
			<label style='width:120px;'>Filter Jadwal Ujian</label> :
			<select id='jdwl'>
				{$jadwal}
			</select>
		{/if}
		{if $tipe_grid eq 'penjadwalan'}
			<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain" group="" id="" onClick="loadUrl_adds('tm_jd','{$host}tambah-data-wawancara', 'konten_grid')">
				<span class="l-btn-left l-btn-icon-left">
					<span class="l-btn-text">Tambah</span><span class="l-btn-icon icon-add">&nbsp;</span>
				</span>
			</a>
			{*
			<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain" group="" id="" onClick="loadUrl_adds('etm_jd','{$host}edit-data-wawancara', 'konten_grid', '{$tipe_grid}');">
				<span class="l-btn-left l-btn-icon-left">
					<span class="l-btn-text">Edit</span><span class="l-btn-icon icon-edit">&nbsp;</span>
				</span>
			</a>
			<a href="javascript:void(0)" class="l-btn l-btn-small l-btn-plain" group="" id="" onClick="">
				<span class="l-btn-left l-btn-icon-left">
					<span class="l-btn-text">Hapus</span><span class="l-btn-icon icon-remove">&nbsp;</span>
				</span>
			</a>
			*}
		{/if}
	</div>
</div>

<script>
	$('#div_{$tipe_grid}').css('height',(getClientHeight()-230));
	genGrid('{$tipe_grid}');
	
	$('#jdwl').on('change', function(){
		$("#{$tipe_grid}").datagrid('reload', { 'idxjd':$(this).val() } );
	});
	
	$('#refresh').bind('click', function(){
		$('#nmpsr').val('');
		$('#jdwl').val('');
		$("#{$tipe_grid}").datagrid('reload', { 'idxjd':'', 'nmpsr':'' } );
	});
</script>