<!-- BEGIN PAGE HEADING ROW -->
<div class="row">
    <div class="col-lg-12">
        <div class="page-header title" style="margin-bottom:10px !important;">
            <!-- PAGE TITLE ROW -->
            <span id='txtheader'><h1>{$breadcumb}</h1></span>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- END PAGE HEADING ROW -->
<div id="konten_grid">
	<div class="row">
		<div class="col-lg-12">
			<div class="page-header title" style="margin-bottom:5px !important;">
				{include file='modul-admin/template/grid_lv.html' tipe_grid={$tipe} tinggi={$tinggi}}
			</div>
		</div>
	</div>
</div>

