<div class="row">
	<div class="col-lg-12">
		<div class="well white">		
			
			<div class="form-horizontal" >
				<div class="form-group">
					<div class="col-sm-12">
						<h4>Data Pribadi</h4>
						<div class="hr-12 hr-double hr-dotted"></div>
						<div class="form-group">
							<label class="col-sm-2 control-label">No. Registrasi : </label>
							<div class="col-sm-8">
								<span class="form-control" style="border:none !important;">
								{$datapeserta.no_registrasi}
								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Nama Lengkap : </label>
							<div class="col-sm-8">
								<span class="form-control" style="border:none !important;">
								{$datapeserta.nama_lengkap}
								</span>
							</div>
						</div>
						<div class="space-4"></div>
						<div class="form-group">
							<label class="col-sm-2 control-label">NIP : </label>
							<div class="col-sm-8">
								<span class="form-control" style="border:none !important;">
								{$datapeserta.nip}
								</span>
							</div>
						</div>
						<div class="space-4"></div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Tempat / Tgl. Lahir : </label>
							<div class="col-sm-8">
								<span class="form-control" style="border:none !important;">
								{$datapeserta.tempat_lahir}, {$datapeserta.tanggal_lahir|date_format:"%d  %B  %Y"}
								</span>
							</div>			
						</div>																
						<div class="space-4"></div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Jenis Kelamin : </label>
							<div class="col-sm-2">
								<span class="form-control" style="border:none !important;">
								{if $datapeserta.jenis_kelamin eq "L"}
									Laki-Laki
								{elseif $datapeserta.jenis_kelamin eq "P" }
									Perempuan
								{/if}
								</span>							
							</div>
						</div>		
						<div class="space-4"></div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Kebangsaaan : </label>
							<div class="col-sm-3">				
								<span class="form-control" style="border:none !important;">
								{$datapeserta.kebangsaan}
								</span>
							</div>
						</div>
						<div class="space-4"></div>	
						<div class="form-group">
							<label class="col-sm-2 control-label">Alamat : </label>
							<div class="col-sm-10">
								<span class="form-control" style="border:none !important;">
								{$datapeserta.alamat_rumah}
								</span>
							</div>
						</div>						
						<div class="form-group">
							<label class="col-sm-2 control-label">Kode Pos : </label>
							<div class="col-sm-2">
								<span class="form-control" style="border:none !important;">
								{$datapeserta.kode_pos|default:""}
								</span>
							</div>
						</div>					
						<div class="form-group">
							<label class="col-sm-2 control-label">Kontak : </label>
							<div class="col-sm-3">
								<span class="form-control" style="border:none !important;">
								Telp. Rumah - {$datapeserta.no_telepon}
								</span>
							</div>
							<div class="col-sm-4">
								<span class="form-control" style="border:none !important;">
								No. Handphone - {$datapeserta.no_handphone}
								</span>
							</div>
						</div>					
						<div class="form-group">
							<label class="col-sm-2 control-label">Email : </label>
							<div class="col-sm-4">
								<span class="form-control" style="border:none !important;">
								{$datapeserta.email}
								</span>
							</div>
						</div>
						<div class="hr-12 hr-double hr-dotted"></div>
						<h4>Data Pendidikan</h4>
						<div class="hr-12 hr-double hr-dotted"></div>
						<div class="space-4"></div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Pendidikan Terakhir : </label>
							<div class="col-sm-3">															
								<span class="form-control" style="border:none !important;">
								{$datapeserta.nama_pendidikan}
								</span>
							</div>
						</div>
						<div class="space-4"></div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Program Studi: </label>
							<div class="col-sm-6">															
								<span class="form-control" style="border:none !important;">
								{$datapeserta.nama_programstudi}
								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Tahun Lulus : </label>
							<div class="col-sm-2" >															
								<span class="form-control" style="border:none !important;">
								{$datapeserta.tahun_lulus}
								</span>
							</div>
						</div>		
						<div class="hr-12 hr-double hr-dotted"></div>
						<h4>Data Pekerjaan Sekarang </h4>
						<div class="hr-12 hr-double hr-dotted"></div>		
						<div class="form-group">
							<label class="col-sm-2 control-label">File PAK : </label>
							<div class="col-sm-6">
								<span class="form-control" style="border:none !important;">
									{if $datapeserta.file_pak|default:''}
										<a href='{$host}__repository/dokumen_peserta/{$datapeserta.no_registrasi}/file_penentuan_angka_kredit/{$folder_sertifikasi}/{$datapeserta.kdreg_diklat}/{$datapeserta.file_pak}' target='_blank'>Klik Disini Untuk Melihat File PAK</a>
									{else}
										-
									{/if}
								</span>
							</div>
						</div>	
						<div class="form-group">
							<label class="col-sm-2 control-label">Kementerian : </label>
							<div class="col-sm-6">															
								<span class="form-control" style="border:none !important;">
								{$datapeserta.nama_kementerian}
								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Formasi : </label>
							<div class="col-sm-6">															
								<span class="form-control" style="border:none !important;">
								{$datapeserta.nama_formasi}
								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Lokasi : </label>
							<div class="col-sm-6">															
								<span class="form-control" style="border:none !important;">
								{if $datapeserta.idx_lokasi_id|default:'-' eq 'P'}
									Pusat
								{else}
									Daerah
								{/if}
								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Lembaga/Instansi : </label>
							<div class="col-sm-6">															
								<span class="form-control" style="border:none !important;">
								{$datapeserta.nama_instansi}
								</span>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-2 control-label">Provinsi : </label>
							<div class="col-sm-4">	
								<span class="form-control" style="border:none !important;">
								{$datapeserta.nama_provinsi}
								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Kabupaten : </label>
							<div class="col-sm-4">															
								<span class="form-control" style="border:none !important;">
								{$datapeserta.nama_kabupaten}
								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Pangkat/Golongan : </label>
							<div class="col-sm-4">															
								<span class="form-control" style="border:none !important;">
								{$datapeserta.nama_pangkat}
								</span>
							</div>
						</div>
						<div class="space-4"></div>	
						<div class="form-group">
							<label class="col-sm-2 control-label">Jabatan : </label>
							<div class="col-sm-6">
								<span class="form-control" style="border:none !important;">
								{$datapeserta.jabatan}
								</span>
							</div>
						</div>																	
						<div class="space-4"></div>	
						<div class="form-group">
							<label class="col-sm-2 control-label">Alamat : </label>
							<div class="col-sm-10">
								<span class="form-control" style="border:none !important;">
								{$datapeserta.alamat_instansi}
								</span>
							</div>
						</div>																						
						<div class="hr-12 hr-double hr-dotted"></div>
						<h4>Data Permohonan Sertifikasi</h4>
						<div class="hr-12 hr-double hr-dotted"></div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Permohonan Sertifikasi : </label>
							<div class="col-sm-8">
								<div class="col-sm-4">															
									<span class="form-control" style="border:none !important;">
									{$datapeserta.nama_aparatur}
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	
	</div>
</div>


<h4>Data Hasil Asesmen Mandiri Peserta</h4>
<div class="row">
	<div class="col-lg-12">
		<div class="well white" style="margin-bottom:0px !important;">
		
			<table class="table table-bordered tc-table" style='margin-bottom:0px;'>
				<tr>
					<td width='20%' style='background:#F8F8F8;'>Status</td>
					<td width='30%'>
						{if $data_asesmen_header.status eq 'L'}
							<font color="green">MEMENUHI SYARAT</font>
						{else}
							<font color="red">TIDAK MEMENUHI SYARAT</font>
						{/if}
					</td>
					<td width='20%' style='background:#F8F8F8;'>Tanggal Verifikasi</td>
					<td width='30%' >{$data_asesmen_header.tanggal_verifikasi}</td>
				</tr>
				<tr>
					<td width='20%' style='background:#F8F8F8;'>Petugas Asesor</td>
					<td width='30%' >{$data_asesmen_header.nama_asesor}</td>
					<td width='20%' style='background:#F8F8F8;'>Tanggal Ujian Asesmen</td>
					<td width='30%' >{$data_asesmen_header.tanggal_ujian}</td>
				</tr>
			</table>		
		
		</div>
	</div>
</div>

<h4>Data Hasil Ujian Online Peserta</h4>
<div class="row">
	<div class="col-lg-12">
		<div class="well white" style="margin-bottom:0px !important;">
			
			<table class="table table-bordered tc-table" style='margin-bottom:0px;'>
				<tr>
					<td style='background:#F8F8F8;'>Status</td>
					<td>
						{if $data_ujian_header.status eq 'L'}
							<font color="green">MEMENUHI SYARAT</font>
						{else}
							<font color="red">TIDAK MEMENUHI SYARAT</font>
						{/if}					
					</td>
					<td style='background:#F8F8F8;'>Total Skor</td>
					<td>{$data_ujian_header.total_skor}</td>
				</tr>
				<tr>
					<td width='20%' style='background:#F8F8F8;'>Total Jawaban Benar</td>
					<td width='30%'>{$data_ujian_header.jumlah_benar}</td>
					<td width='20%' style='background:#F8F8F8;'>Total Jawaban Salah</td>
					<td width='30%'>{$data_ujian_header.jumlah_salah}</td>					
				</tr>
				<tr>
					<td width='20%' style='background:#F8F8F8;'>Tanggal Ujian</td>
					<td width='30%'>{$data_ujian_header.tanggal_ujian}</td>
					<td width='20%' style='background:#F8F8F8;'>&nbsp;</td>
					<td width='30%'>&nbsp;</td>					
				</tr>
			</table>
			
		</div>
	</div>
</div>

<h4>Data Hasil Ujian Simulasi/Praktek</h4>
<div class="row">
	<div class="col-lg-12">
		<div class="well white" style="margin-bottom:0px !important;">
			<table class="table table-bordered tc-table" style='margin-bottom:0px;'>
				<tr>
					<td width='20%' style='background:#F8F8F8;'>Hasil Penilaian</td>
					<td width='30%'>
						{if $data_ujian_simulasi.status_penilaian eq 'L'}
							<font color="green">MEMENUHI SYARAT</font>
						{else}
							<font color="red">TIDAK MEMENUHI SYARAT</font>
						{/if}
					</td>
					<td width='20%' style='background:#F8F8F8;'>Tanggal Verifikasi</td>
					<td width='30%'>{$data_ujian_simulasi.tgl_verifikasi}</td>
				</tr>
				<tr>
					<td style='background:#F8F8F8;'>Petugas Verifikator</td>
					<td>{$data_ujian_simulasi.nama_asesor}</td>
					<td style='background:#F8F8F8;'>Total Skor</td>
					<td>{$data_ujian_simulasi.total_skor}</td>
				</tr>
			</table>
		</div>
	</div>
</div>


<h4>Data Hasil Ujian Wawancara Peserta</h4>
<div class="row">
	<div class="col-lg-12">
		<div class="well white" style="margin-bottom:0px !important;">
			
			<table class="table table-bordered tc-table" style='margin-bottom:0px;'>
				<tr>
					<td style='background:#F8F8F8;'>Status</td>
					<td>
						{if $data_wawancara_header.status eq 'L'}
							<font color="green">MEMENUHI SYARAT</font>
						{else}
							<font color="red">TIDAK MEMENUHI SYARAT</font>
						{/if}					
					</td>
					<td style='background:#F8F8F8;'>Nilai</td>
					<td>{$data_wawancara_header.nilai}</td>
				</tr>
				<tr>
					<td width='20%' style='background:#F8F8F8;'>Petugas Asesor</td>
					<td width='30%'>{$data_wawancara_header.nama_asesor}</td>
					<td width='20%' style='background:#F8F8F8;'>Tanggal Verifikasi</td>
					<td width='30%'>{$data_wawancara_header.tanggal_verifikasi}</td>					
				</tr>
				<tr>
					<td width='20%' style='background:#F8F8F8;'>Memo</td>
					<td width='30%'>{$data_wawancara_header.memo}</td>
					<td width='20%' style='background:#F8F8F8;'>&nbsp;</td>
					<td width='30%'>&nbsp;</td>					
				</tr>
			</table>
			
		</div>
	</div>
</div>
<h4>Komplain Peserta</h4>
<div class="row">
	<div class="col-lg-12">
		<div class="well white" style="margin-bottom:0px !important;">
			{$data_wawancara_header.komplain|default:'-'}
		</div>
	</div>
</div>
<br/>
<div class="row">
	<div class="col-lg-12">
		<div class="well white" style="margin-bottom:0px !important;">
			{if $type eq 'detail_remedial'}
				{assign var=url value="{$host}verifikasi-remedial"}
				{assign var=label value="Keputusan Hasil Remedial"}
			{else}
				{assign var=url value="{$host}verifikasi-hasil"}
				{assign var=label value="Keputusan Hasil Diklat"}
			{/if}
			<form class="form-horizontal" role="form" id="dehs" action="{$url}" method="post" enctype="multipart/form-data">
				<input type='hidden' name='ibdff' value='{$id_peserta}'>
				<input type='hidden' name='idxsrt' value='{$idx_sertifikasi_id}'>
				<input type='hidden' name='kdr' value='{$kdreg_diklat}'>
				<table class="table table-bordered tc-table">
					<tr>
						<td width='20%' style='background:#F8F8F8;'>
							<label>{$label}</label>
						</td>
						<td width='30%'>
							<select name="hsl_hs" id="hsl_hs">
								<option value=''>-- Pilih --</option>
								<option value='L'>Kompeten</option>
								<option value='TL'>Belum Kompeten</option>
							</select>
						</td>
						<td width='20%' style='background:#F8F8F8;'>
							{* <label>Nilai Yang Diberikan</label> *}
						</td>
						<td width='30%'>
							{* <input type='text' name="nilai_hs" id="hsl_hs"> *}
						</td>
					</tr>
					{if $type eq 'detail_remedial'}
					<tr>
						<td width='20%' style='background:#F8F8F8;'>
							<label>Memo Remedial</label>
						</td>
						<td colspan='3' width='30%'>
							<textarea class="form-control" rows="5" name='memo_rem' id='memo_rem' ></textarea>
						</td>
					</tr>
					{/if}
				</table>
			</form>
			<div class="form-actions ">
				<button id='btnnya' class="btn btn-primary" onClick="event.preventDefault();hsnya();">Submit</button>
			</div>			
		</div>
	</div>
</div>


