<div class="row">
    <div class="col-lg-12">
        <div class="page-header title" style="">
            <!-- PAGE TITLE ROW -->
            <h1>Tambah Pejabat </h1>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="well light">		
			<form class="form-horizontal" role="form" name="regPejabat" id="regPejabat" method="post" enctype="multipart/form-data">
				<div class="form-group">
					<div class="col-sm-12">
						<h4>Data Pejabat</h4>
						<div class="hr-12 hr-double hr-dotted"></div>
						<div class="form-group">
                                                    <label class="col-sm-2 control-label">Nama Pejabat : </label>
                                                    <div class="col-sm-8">
                                                        <input name="kode" value="{$data.id}" type="hidden">
                                                            <input class="form-control" value="{$data.nama_pejabat}" name="nama_pejabat"  id="nama_pejabat" required>
                                                    </div>
                                                    <span class="help-block"><code>*) Harus Diisi</code></span>
						</div>
						<div class="form-group">
                                                    <label class="col-sm-2 control-label">Pangkat Pejabat : </label>
<!--                                                    <div class="col-sm-8">
                                                            <input class="form-control" value="{$data.jabatan_pejabat}" name="pangkat_pejabat"  id="pangkat_pejabat" required>
                                                    </div>-->
                                                    <div class="col-sm-8">
                                                        <select class="form-control" name="pangkat_pejabat">
                                                            <option value=""  {if $data.kode_pangkat eq '0'}selected{/if}>-:: Pilih Pangkat ::-</option>
                                                            <option value="1_INSPEKTUR JENDERAL KEMENTERIAN DALAM NEGERI" {if $data.kode_pangkat eq '1'}selected{/if}>INSPEKTUR JENDERAL KEMENTERIAN DALAM NEGERI</option>
                                                            <option value="2_Plt. KEPALA BADAN PENGEMBANGAN SUMBER DAYA MANUSIA KEMENTERIAN DALAM NEGERI" {if $data.kode_pangkat eq '2'}selected{/if}>Plt. KEPALA BADAN PENGEMBANGAN SUMBER DAYA MANUSIA KEMENTERIAN DALAM NEGERI</option>
                                                            <option value="3_KEPALA PUSAT STANDARISASI DAN SERTIFIKASI SELAKU PENANGGUNG JAWAB LSP PEMDA" {if $data.kode_pangkat eq '3'}selected{/if}>KEPALA PUSAT STANDARISASI DAN SERTIFIKASI SELAKU PENANGGUNG JAWAB LSP PEMDA</option>
                                                        </select>
                                                    </div>
                                                    <span class="help-block"><code>*) Harus Diisi</code></span>
						</div>
                                                
					</div>
				</div>
			</form>
			<div class="form-actions ">
				<button onclick="kumpulPost('up_pejabat');" class="btn btn-info" id="btnnya">Update</button>
				<button class="btn btn-primary" onclick="loadUrl('{$host}manajemen-pejabat');">Cancel</button>
			</div>
			
		</div>
	</div>
</div>