<!-- BEGIN PAGE HEADING ROW -->
<div class="row">
    <div class="col-lg-12">
        <div class="page-header title" style="">
            <!-- PAGE TITLE ROW -->
            <h1>Data Petunjuk Sertifikasi & Dokumen Terkait</h1>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- END PAGE HEADING ROW -->
<div id="konten_petunjuk">
<div class="row">
	<div class="col-lg-12">
		<div class="well white" style="margin-bottom:0px !important;">
			<div class="btn-group btn-group-sm " style='margin-left:5px;'>
				<a href="#" onClick="loadUrl_adds('kcppt','{$host}form-petunjukdokumen', 'konten_petunjuk');" class="btn btn-success"><i class="fa fa-plus"></i>Tambah</a>
			</div>
		</div>
		<div class="portlet"><!-- /Portlet -->
			<div id="basic" class="panel-collapse collapse in">
				<div class="portlet-body no-padding">
					<table class="table table-bordered table-hover tc-table">
						<thead>
							<tr>
								<th class="col-small center">No.</th>
								<th class="col-medium center">Jenis Dokumen</th>
								<th class="col-medium center">Nama Sertifikasi</th>
								<th class="col-small center">File</th>
								<th class="col-small center">Action</th>
							</tr>
						</thead>
						<tbody id='{$type}'>
							{if $data}
								{assign var=ind value=1}
								{foreach from=$data item=rows}
									<tr>
										<td class="col-small center">{$ind}</td>
										<td>
											{if $rows.jenis_dokumen eq 'DPS'}
												Petunjuk Sertifikasi
											{elseif $rows.jenis_dokumen eq 'SE'}
												Surat Edaran
											{/if}
										</td>
										<td>{$rows.nama_sertifikasi}</td>
										<td><a href='{$host}__repository/dokumenpetunjuk/{$rows.file_petunjuk}' target='_blank'>Lihat File</a></td>
										<td class="col-medium center">
											<a href='#' onClick="loadUrl_adds('edt_kcppt', '{$host}form-petunjukdokumen', 'konten_petunjuk', '{$rows.id}');">Edit</a> |
											<a href='#' onClick="">Hapus</a>
										</td>
									</tr>
									{assign var=ind value=$ind+1}
								{/foreach}
							{/if}
						</tbody>
					</table>												
				</div>
			</div>
		</div>
	</div>
</div>
</div>
