<!-- BEGIN PAGE HEADING ROW -->
<div class="row">
    <div class="col-lg-12">
        <div class="page-header title" style="">
            <!-- PAGE TITLE ROW -->
            <h1>Manajemen Voucher Gratis Biaya Sertifikasi</h1>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<!-- END PAGE HEADING ROW -->
<div id="konten_voucher">
<div class="row">
	<div class="col-lg-12">
		<div class="well white" style="margin-bottom:0px !important;">
			<label>Filter Data :</label> 
			<select id='kat_filter' style="width:150px;">
				<option value="">-- Kategori --</option>
				<option value="">Tester</option>
			</select>
			<div class="btn-group btn-group-sm " style='float:right;margin-left:5px;'>
				<a href="#" onClick="loadUrl_adds('vcf','{$host}tambah-voucher', 'konten_voucher');" class="btn btn-danger"><i class="fa fa-plus"></i>Buat Voucher</a>
			</div>
			{*
			<div class="btn-group btn-group-sm " style='float:right;'>
				<a href="{$host}cetak-voucher" target="_blank" class="btn btn-success"><i class="fa fa-print"></i>Cetak Voucher</a>
			</div>
			*}
		</div>
		<div class="portlet"><!-- /Portlet -->
			<div id="basic" class="panel-collapse collapse in">
				<div class="portlet-body no-padding">
					<table class="table table-bordered table-hover tc-table">
						<thead>
							<tr>
								<th class="col-small center">No.</th>
								<th class="col-medium center">Kode Voucher</th>
								<th class="col-medium center">Status Voucher</th>
								<th class="col-medium center">Dikirim Kepada</th>
								<th class="col-medium center">Tanggal Kirim</th>
								<th class="col-small center">::</th>
							</tr>
						</thead>
						<tbody>
							{if $data}
								{assign var=ind value=1}
								{foreach from=$data item=rows}
									<tr>
										<td class="col-small center">{$ind}</td>
										<td>{$rows.kode_voucher}</td>
										<td>
											{if $rows.status_data eq '1'}
												<font color='green'>Tersedia</font>
											{elseif $rows.status_data eq '0'}
												<font color='red'>Sudah Digunakan</font>
											{/if}
										</td>
										<td>{$rows.dikirim_ke|default:'-'}</td>
										<td>{$rows.tgl_kirim|date_format:"%d  %B  %Y"|default:'-'}</td>
										<td>
											{if $rows.dikirim_ke|default:'-' neq null}
												<div class="btn-group btn-group-xs ">
													<a href="#" onClick="loadUrl_adds('vcf-krm','{$host}form-kirim-voucher', 'konten_voucher', '{$rows.id}');" class="btn btn-danger"><i class="fa fa-location-arrow"> Kirim</i></a>
												</div>
											{else}
												<font color='green'>Sudah Terdistribusi</font>
											{/if}
										</td>
									</tr>
									{assign var=ind value=$ind+1}
								{/foreach}
							{/if}
						</tbody>
					</table>												
				</div>
			</div>
		</div>
	</div>
</div>
</div>
